html {
  scroll-snap-type: y proximity;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #eee;
  scroll-snap-type: y proximity;
}

/* 
Fira Sans Regular
font-family: fira-sans, sans-serif;
font-weight: 400;
font-style: normal;

Fira Sans Italic
font-family: fira-sans, sans-serif;
font-weight: 400;
font-style: italic;

Fira Sans Bold
font-family: fira-sans, sans-serif;
font-weight: 700;
font-style: normal;

Fira Sans Bold Italic
font-family: fira-sans, sans-serif;
font-weight: 700;
font-style: italic;


Mr Eaves Mod OT Book
font-family: mr-eaves-modern, sans-serif;
font-weight: 300;
font-style: normal;

Mr Eaves Mod OT Book Italic
font-family: mr-eaves-modern, sans-serif;
font-weight: 300;
font-style: italic;

Mr Eaves Mod OT Reg
font-family: mr-eaves-modern, sans-serif;
font-weight: 400;
font-style: normal;

Mr Eaves Mod OT Reg Italic
font-family: mr-eaves-modern, sans-serif;
font-weight: 400;
font-style: italic;
*/

/* ====================== Main - row1 ====================== */
.topRow-container {
  position: relative;
  min-height: 100vh;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("../media/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.topRow-container h1 {
  font-size: calc(100% + 2vw + 2vh);
  letter-spacing: 1.25rem;
  font-family: fira-sans, sans-serif;
  font-weight: 700;
  text-align: center;
  font-style: normal;
  margin: 0;
}
.linkDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 90vw;
  width: fit-content;
}
.linkDiv > .col-6 {
  display: flex;
  align-items: center;
  min-height: 10vh;
  justify-content: center;
}
.linkDiv a {
  color: inherit;
  min-width: max-content;
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-style: normal;
  text-align: center;
  transition: all 1000ms;
}
.linkDiv a:hover {
  color: rgba(255, 255, 255, 0.753);
  text-decoration: none;
  letter-spacing: 5px;
}

/* Summary section */
.r2-main-container {
  padding: 1rem;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sectionOuterRow {
  margin: 2rem 0;
}
.sectionHeading {
  text-align: center;
  margin: 1rem 0 5rem;
}
.sectionHeading .whiteOverRainbowContainer {
  box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603),
    -2px -2px 5px rgba(58, 58, 58, 0.568);
  border-radius: 3px;
}
@media (min-width: 1200px) {
  .sectionHeading > .whiteOverRainbowContainer {
    max-width: 40vw;
  }
}
.sectionHeading h1 {
  font-weight: 600;
  font-size: 2.5em;
  letter-spacing: 2px;
  margin: 0;
  font-family: mr-eaves-modern, sans-serif;
  font-style: normal;
}
.coloredBorderDiv {
  /* Colored-animated borders */
  --border-width: 2px;
  padding: 1px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-width);
  box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603),
    -2px -2px 5px rgba(58, 58, 58, 0.568);
}
.coloredBorderDiv::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  animation: moveGradient 3s alternate infinite;
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.whiteOverRainbowContainer {
  padding: 0;
  background-color: #fff;
}
.sectionInnerRow {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.smallerCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
.smallerCol h2 {
  font-family: mr-eaves-modern, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5em;
  letter-spacing: 10px;
  margin: 0;
}
.sectionInnerRow p {
  margin: 0;
  width: 100%;
  line-height: 1.15em;
  font-size: 1.15em;
}
.sectionInnerRow > .col-md-9 {
  padding: 1rem;
}

/* Main - row3 */
.row3-main-container {
  margin: 4rem 0;
  padding-top: 2rem;
  /* background-image: url("../media/translucent-fibres.png"); */
}

/* Projects Heading */
.projectsHeadingSection {
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(34, 34, 34);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603),
    -2px -2px 5px rgba(58, 58, 58, 0.568);
  /* background-image: url("../media/dotnoise-light-grey.png"); */
}
@media (min-width: 1200px) {
  .projectsHeadingSection {
    max-width: 45vw;
  }
}
.innerDiv {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 1px;
  padding: 2rem 1rem;

  margin: 1px;
}
.title {
  text-align: center;
  min-height: 15vh;
  display: grid;
  align-items: center;
  padding: 0;
}
.title h1 {
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 600;
  font-size: 2.5em;
  letter-spacing: 3px;
  font-style: normal;
  text-align: center;
  margin: 0 0 2rem;
  text-decoration: underline solid black 2px;
}
/* .title h3 {
  margin: 0 -0.75rem 0;
  font-family: fira-sans, sans-serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: .025rem;
  font-style: normal;
  text-align: center;
  min-width: min-content;
  word-wrap: break-word;
} */
.outer-list-group {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.dirHeader {
  padding: 0;
}
.outer-list-group h2 {
  margin: 0;
  font-family: mr-eaves-modern, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  letter-spacing: 2px;
}
.custom-list-group {
  margin: 2rem 0 0;
  padding-left: 3rem;
}
.custom-list-group li {
  padding: 1rem 0;
  font-family: mr-eaves-modern, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 1px;
}
.custom-list-group a {
  color: inherit;
  width: 100%;
  line-height: 35pt;
  transition: all 200ms;
}
.custom-list-group a:hover {
  color: rgba(48, 48, 48, 0.733);
  text-decoration: underline solid black 1px;
}

/* Projects */
.projectsSubsectionRow {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding-bottom: 10vh;
  padding-top: 10vh;
}
.projectsSubsectionRow .subsectionHeading {
  min-height: 20vh;
  max-height: 90%;
  max-width: 90%;
  margin: 3rem auto;
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
}
.projectsSubsectionRow .subsectionHeading h3 {
  margin: 0;
  width: 100%;
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 500;
  font-size: 2.25em;
  letter-spacing: 2px;
  font-style: normal;
  text-align: center;
}
@media (max-width: 768px) {
  .subsectionHeading h3 {
    text-align: center;
  }
}
.projectsSubsectionRow > .col-xl-3 {
  display: flex;
  align-items: baseline;
}

/* Project cards */
.projectsSubsectionRow .card {
  max-width: 90%;
  min-width: 10vw;
  min-height: 85%;
  margin: 3rem auto;
  box-shadow: 15px 10px 17px rgba(49, 49, 49, 0.603),
    -2px -2px 15px rgba(58, 58, 58, 0.568);
}
.projectsSubsectionRow .card-img {
  height: auto;
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid rgba(55, 64, 77, 0.329);
}
.projectsSubsectionRow .card-title {
  font-size: 1.5em;
  margin-bottom: 1.5rem;
}
.projectsSubsectionRow .card-body {
  font-size: 1.15em;
  line-height: 1.5em;
  padding: 1.5rem;
}
@media (max-width: 768px) {
  .projectsSubsectionRow .card-body {
    padding: 1rem;
  }
}

/* Project Card Footers */
.projectCard-footer {
  display: flex;
  justify-content: space-evenly;
}
.projectCard-footer > .btn {
  font-size: 1.5em;
  color: black;
  transition: all 200ms;
}
.projectCard-footer > .btn:hover {
  color: #eeeeee;
}
.github-btn {
  padding: 0;
}
.github-btn img {
  padding: 10px 12px;
  transition: all 250ms;
}
.github-btn:hover img {
  filter: invert(50);
}

/* Certifications */
.certs-main-container {
  padding: 2rem 15px 0;
}
.certs-main-container > .container {
  min-height: 5rem;
  width: calc(100% - 1rem);
  margin: 1rem auto 3rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603),
    -2px -2px 5px rgba(58, 58, 58, 0.568);
}
.certs-main-container h1 {
  font-weight: 600;
  font-size: 2.5em;
  letter-spacing: 2px;
  margin: 0;
  font-family: mr-eaves-modern, sans-serif;
  font-style: normal;
}
.full-row {
  margin: 2rem 0 4rem;
}
.full-row > .col-md-3 {
  align-self: center;
}
.full-row > .col > .container {
  margin: 2rem auto;
  width: max-content;
}

.cert-row {
  padding: 0 1rem;
}
.singleitem-col {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0;
}
.singleitem-col > .row {
  min-width: 95%;
  padding: 1rem 0 0;
  margin: 1rem;
  border: 2px solid #000;
  border-radius: 3px;
  background-color: #fff;
}
.singleitem-col > .row > .col-xl-5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.singleitem-col > .row > .col {
  display: flex;
  justify-content: center;
}
.singleitem-col img {
  height: 100%;
  width: 100%;

  margin-bottom: -0.5rem;
  box-shadow: 10px 12px 20px #2c2c2c, -7px 0px 10px #4e4e4e9d;
}
.singleitem-col h2 {
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 500;
  font-size: 2.25em;
  letter-spacing: 2px;
  font-style: normal;
  text-align: center;
}
.cert-link {
  margin: 1rem 0 0;
  padding: 0 12px;
  text-align: center;
}
@media (min-width: 768px) {
  .cert-link {
    text-align: start;
  }
}
.cert-link a {
  color: #0062cc;
}
.cert-link a,
.cert-link p {
  margin: 0;
}

/* Page Footer */
footer {
  min-height: 10vh;
  padding: 1.5rem;
  background-color: rgb(199, 207, 211);
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer h2 {
  margin-bottom: 2rem;
  font-size: 2em;
}
footer p {
  font-size: 1.25em;
  margin-bottom: 1.5rem;
}
footer > .container {
  display: flex;
  justify-content: space-evenly;
  min-width: max-content;
  max-width: 100%;
}
@media (min-width: 992px) {
  footer > .container {
    max-width: 30%;
  }
}
footer h2,
footer p {
  max-width: 100vw;
  text-align: center;
}
footer .github-btn img {
  height: 50px;
  width: auto;
}
.tooltip-inner p {
  margin: 0.25rem;
}
