@-webkit-keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.eHead4 {
  background-color: #333;
}

.eHead4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  min-height: 50vh;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 1rem 2rem;
}

.eHead4 .container > div {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.eHead4 .container > div svg {
  width: 200px;
  height: auto;
  -webkit-filter: brightness(100) saturate(0);
          filter: brightness(100) saturate(0);
  margin-left: 5px;
}

.eHead4 .container > div p {
  margin: 3rem auto 0;
  color: #fff;
  text-align: start;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}

.eHead4 .container > div img {
  max-width: 100%;
}

.needsCenteredAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionTitle, .finalProto .imgTextHeading .col-lg-3 h2 {
  margin: 4rem -1rem 2rem;
  font-size: 3em;
  font-weight: 300;
}

.edZ2Body {
  width: 100vw;
  min-height: 100vh;
  display: block;
  position: absolute;
  background-color: #fff;
  line-height: 1.5em;
}

.edZ2Body h3 {
  font-size: 2em;
  margin-bottom: 1rem;
  font-weight: 500;
}

.edZ2Body p {
  font-size: 1.2em;
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 1.25em;
}

.edZ2Body strong {
  font-size: 1em;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  line-height: 1.25em;
}

.edZ2Body li {
  margin-bottom: 0.5rem;
  line-height: 1.25em;
  font-size: 1.2em;
}

.edZ2Body li strong {
  line-height: inherit;
  font-size: 1em;
}

.introSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4rem;
}

.introSection > div {
  margin: 1rem auto;
  padding: 1rem 3rem 0;
}

.introSection > div h3 {
  margin-bottom: 0.5rem;
}

.introSection > div p {
  margin-bottom: 0.5em;
}

.introSection .roleScope > div {
  margin-bottom: 1.5rem;
}

.introSection .roleScope p {
  text-align: start;
}

.businessResearch {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.businessResearch .textArea1 {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.businessResearch .nonTextArea1 {
  padding: 1rem;
  margin: 1rem auto;
  background-color: #333333;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
}

.businessResearch .nonTextArea1 .img1 {
  margin: 0.5rem 0 1rem;
  max-width: 100%;
  height: auto;
}

.businessResearch .nonTextArea1 .img2 {
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  padding: 1rem;
  max-width: 100%;
  height: auto;
}

.userResearch {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.userResearch .usersHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem 0 1rem;
}

.userResearch .hScrollGroup {
  padding: 1.5rem 0 3rem;
  margin: 1rem auto;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
  max-width: calc(100% - 2rem);
}

.userResearch .hScrollGroup .innerWrapper {
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.userResearch .hScrollGroup .innerWrapper::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  border-radius: 0.66667rem;
}

.userResearch .hScrollGroup .innerWrapper::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 0.66667rem;
}

.userResearch .hScrollGroup .innerWrapper::-webkit-scrollbar-track {
  background: #858585;
  border-radius: 0.66667rem;
  -webkit-box-shadow: 0 2px 5px #000;
          box-shadow: 0 2px 5px #000;
  margin: 0 5vw;
}

.userResearch .hScrollGroup .innerWrapper {
  scrollbar-face-color: #333333;
  scrollbar-track-color: #858585;
}

.userResearch .hScrollGroup img {
  margin: 1rem 3rem 2rem;
  max-height: 35vh;
  width: auto;
  border-radius: 12px;
  -webkit-box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
          box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
  cursor: pointer;
}

.competitiveAnalysis {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 60vh;
}

.competitiveAnalysis .compAnalysisImgArea {
  padding: 1rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.competitiveAnalysis .compAnalysisImgArea h3 {
  margin-bottom: 4rem;
  margin-right: 1rem;
}

.competitiveAnalysis .compAnalysisImgArea img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
  margin-right: 1rem;
}

.competitiveAnalysis .compAnalysisTextArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
  padding-top: 1rem;
}

.competitiveAnalysis .compAnalysisTextArea h4 {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 0.2em;
}

.competitiveAnalysis .compAnalysisTextArea li {
  text-align: justify;
  text-justify: auto;
  margin-bottom: 1.2em;
}

.journeyMap {
  margin-top: 10rem;
  min-height: 60vh;
}

.journeyMap h3 {
  margin-bottom: 2rem;
}

.journeyMap .journeyTextArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.journeyMap .journeyImgOuter {
  margin-top: 2rem;
  padding: 1rem calc(1rem - 2px);
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.journeyMap .journeyImgOuter img {
  background-color: inherit;
}

.siteMap {
  margin-top: 8rem;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.siteMap .siteMapHead {
  padding: 0;
}

.siteMap .siteMapHead h3 {
  margin: 0 auto 2rem 1rem;
  max-width: 90%;
  padding: 1rem;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
  border-radius: 6px;
}

.siteMap .siteMapImgOuter {
  padding: 0 1rem;
}

.siteMap .siteMapImgOuter img {
  cursor: pointer;
}

.moodBoard {
  margin-top: 8rem;
}

.moodBoard .moodTextArea {
  margin-bottom: 1.5rem;
  text-align: justify;
  text-justify: auto;
}

.moodBoard .moodBoardImgCont {
  background-color: #333333;
  padding: 3.7% 3.7%;
  margin-right: 0;
  margin-left: auto;
  -webkit-box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
          box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
  border-radius: 6px;
}

.moodBoard .moodBoardImgCont img {
  max-width: 100%;
  height: auto;
}

.wireframe {
  background-color: #222222;
  color: #ffffff;
  margin-top: 8rem;
  padding-bottom: 8rem;
}

.wireframe .wfPre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60vh;
}

.wireframe .wfPre h2 {
  margin-top: 8rem;
  margin-bottom: 8rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.wireframe .wfPre h3 {
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}

.wireframe .wfPre > div {
  margin-top: 2rem;
  padding: 0;
}

.wireframe .wf1, .wireframe .wf2, .wireframe .wf3 {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wireframe .wf1 .wfImgOuter, .wireframe .wf2 .wfImgOuter, .wireframe .wf3 .wfImgOuter {
  background-color: #ffffff;
  -webkit-box-shadow: 5px 7px 20px 5px rgba(187, 187, 187, 0.603);
          box-shadow: 5px 7px 20px 5px rgba(187, 187, 187, 0.603);
  border-radius: 6px;
}

.wireframe .wf1 .wfImgOuter img, .wireframe .wf2 .wfImgOuter img, .wireframe .wf3 .wfImgOuter img {
  background-color: inherit;
  border-radius: inherit;
}

.wireframe .wf1 > div, .wireframe .wf2 > div, .wireframe .wf3 > div {
  padding: 0;
}

.wireframe .wf1 p, .wireframe .wf2 p, .wireframe .wf3 p {
  margin-bottom: 1.5rem;
}

.wireframe .wf2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.wireframe .wf3 img {
  max-width: 100%;
  height: auto;
}

.wireframe .wfScrollOuter {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.wireframe .wfScrollOuter .wfScrollInner {
  margin-top: 4rem;
  -webkit-box-shadow: 5px 7px 20px 5px rgba(187, 187, 187, 0.603);
          box-shadow: 5px 7px 20px 5px rgba(187, 187, 187, 0.603);
  border-radius: 6px;
  padding: 1rem 0;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: auto;
  max-height: 75vh;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  border-radius: 0.66667rem;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 0.66667rem;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll::-webkit-scrollbar-track {
  background: #868686;
  border-radius: 0.66667rem;
  -webkit-box-shadow: 0 2px 5px #000;
          box-shadow: 0 2px 5px #000;
  margin: 0 5vw;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll {
  scrollbar-face-color: #353535;
  scrollbar-track-color: #868686;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll > div {
  max-height: 100%;
  min-width: 50%;
  max-width: 70%;
  text-align: center;
  margin: 0 2rem 1rem;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll > div:first-child {
  margin-left: 4rem;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll > div:last-child {
  margin-right: 4rem;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll > div h4 {
  white-space: nowrap;
  text-overflow: fade;
  overflow: hidden;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll > div img {
  max-height: 95%;
  max-width: 100%;
  height: auto;
}

.wireframe img {
  cursor: pointer;
}

.wireframe button {
  margin: 2rem auto 0;
  -webkit-box-shadow: 0px 1px 5px #fff;
          box-shadow: 0px 1px 5px #fff;
}

.finalProto {
  margin-top: 8rem;
  padding-bottom: 12rem;
}

.finalProto .imgTextHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.finalProto .imgTextHeading > div {
  padding: 0;
}

.finalProto .imgTextHeading .col-lg-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.finalProto .imgTextHeading .col-lg-3 button {
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
}

.finalProto .imgTextHeading img {
  max-width: 100%;
  height: auto;
}

.finalProto .colorScheme {
  margin-top: 10rem;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.finalProto .colorScheme > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
  text-justify: auto;
}

.finalProto .colorScheme > div svg {
  -webkit-box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
          box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
}

.finalProto .colorScheme > div p {
  min-height: 30%;
  margin: 5% 0 0;
}

.finalProto .subscriptArea {
  margin-top: 10rem;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.finalProto .subscriptArea .protoTextArea2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.finalProto .subscriptArea .protoTextArea2 h3,
.finalProto .subscriptArea .protoTextArea2 p {
  margin-bottom: 2rem;
}

.finalProto .subscriptArea .protoTextArea2 p {
  text-align: justify;
  text-justify: auto;
}

.finalProto .subscriptArea .subsImgContainer {
  margin: 0 auto;
}

.finalProto .subscriptArea .subsImgContainer img {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
          box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
}

.finalProto .scrollGroupsDemo {
  margin-top: 12rem;
  text-align: end;
}

.finalProto .scrollGroupsDemo h3 {
  text-align: start;
  height: 50%;
  margin-bottom: 2rem;
}

.finalProto .scrollGroupsDemo img {
  max-width: 100%;
  height: auto;
}

.finalProto .imgGradients {
  margin-top: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.finalProto .imgGradients .protoTextArea1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: justify;
  text-justify: auto;
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.finalProto .imgGradients img {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
