@-webkit-keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.staticLgImg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000de;
  text-align: center;
  overflow-y: auto;
  padding: 25px 5%;
  z-index: 90;
  display: block;
  cursor: pointer;
}

.staticLgImg img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.staticLgImg .imgWithBg {
  padding: 1rem;
  border-radius: 10px;
  background-color: #ffffff;
}

.staticLgImg .textOverlay {
  position: fixed;
  bottom: 10px;
  right: 25px;
  background-color: rgba(54, 54, 54, 0.623);
  border-radius: 15%;
  overflow: hidden;
  margin: 5px 25px;
  -webkit-box-shadow: 0px 0px 25px 25px rgba(54, 54, 54, 0.623);
          box-shadow: 0px 0px 25px 25px rgba(54, 54, 54, 0.623);
}

.staticLgImg .textOverlay p {
  color: #ffffff;
  font-size: 1.5em;
  -webkit-text-decoration: underline 1px solid;
          text-decoration: underline 1px solid;
  font-weight: 300;
  margin: 0;
  margin-bottom: 3px;
}

.eHead4 {
  background-color: #333;
}

.eHead4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  min-height: 60vh;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 1rem 2rem;
}

.eHead4 .container > div {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.eHead4 .container > div svg {
  width: 200px;
  height: auto;
  -webkit-filter: brightness(100) saturate(0);
          filter: brightness(100) saturate(0);
  margin-left: 5px;
}

.eHead4 .container > div p {
  margin: 3rem auto 0;
  color: #fff;
  text-align: start;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}

.eHead4 .container > div img {
  max-width: 100%;
  cursor: pointer;
}

.needsCenteredAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionTitle, .finalProto .imgTextHeading .textButtonOuter h2 {
  margin: 0 -1rem 0;
  font-size: 3em;
  font-weight: 300;
}

.edZ2Body {
  width: 100vw;
  min-height: 100vh;
  display: block;
  position: absolute;
  background-color: #fff;
  line-height: 1.5em;
}

.edZ2Body h3 {
  font-size: 2em;
  margin-bottom: 1rem;
  font-weight: 500;
}

.edZ2Body p {
  font-size: 1.2em;
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 1.25em;
}

.edZ2Body strong {
  font-size: 1em;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  line-height: 1.25em;
}

.edZ2Body li {
  margin-bottom: 0.5rem;
  line-height: 1.25em;
  font-size: 1.2em;
}

.edZ2Body li strong {
  line-height: inherit;
  font-size: 1em;
}

.introSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15vh;
  min-height: 60vh;
}

.introSection > div {
  margin: 1rem auto;
  padding: 1rem 3rem 0;
}

.introSection > div h3 {
  margin-bottom: 0.5rem;
}

.introSection > div p {
  margin-bottom: 0.5em;
}

.introSection .roleScope > div {
  margin-bottom: 1.5rem;
}

.introSection .roleScope p {
  text-align: start;
}

.introSection .roleScope button,
.introSection .roleScope a {
  margin-bottom: 0;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
}

.researchSection h2 {
  margin-top: 15vh;
  margin-bottom: 7.5vh;
}

.researchSection .businessResearch {
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 60vh;
}

.researchSection .businessResearch .textArea1 {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.researchSection .businessResearch .nonTextArea1 {
  padding: 2rem 1rem;
  margin: 1rem auto;
  background-color: #333333;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.researchSection .businessResearch .nonTextArea1 .img1 {
  margin-bottom: 2rem;
  max-width: 500px;
  width: 100%;
  height: auto;
}

.researchSection .businessResearch .nonTextArea1 .img2 {
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  height: auto;
  padding: 1rem;
}

.userResearch {
  margin-top: 15vh;
  padding-bottom: 15vh;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.userResearch .usersHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem 0 1rem;
}

.userResearch .userTextArea,
.userResearch .usersHeading {
  margin-bottom: 2rem;
}

.userResearch .hScrollGroup {
  padding: 1.5rem 0 3rem;
  margin: 0 1rem;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
  max-width: calc(100% - 2rem);
  border-radius: 12px;
}

.userResearch .hScrollGroup .innerWrapper {
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.userResearch .hScrollGroup .innerWrapper::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  border-radius: 0.66667rem;
}

.userResearch .hScrollGroup .innerWrapper::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 0.66667rem;
}

.userResearch .hScrollGroup .innerWrapper::-webkit-scrollbar-track {
  background: #858585;
  border-radius: 0.66667rem;
  -webkit-box-shadow: 0 2px 5px #000;
          box-shadow: 0 2px 5px #000;
  margin: 0 5vw;
}

.userResearch .hScrollGroup .innerWrapper {
  scrollbar-face-color: #333333;
  scrollbar-track-color: #858585;
}

.userResearch .hScrollGroup img {
  margin: 1rem 3rem 2rem;
  max-height: 35vh;
  width: auto;
  border-radius: 12px;
  -webkit-box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
          box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
  cursor: pointer;
}

.competitiveAnalysis {
  margin-top: 15vh;
  min-height: 60vh;
  padding: 0 1rem 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.competitiveAnalysis .compAnalysisImgArea {
  padding: 1rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.competitiveAnalysis .compAnalysisImgArea h3 {
  margin-bottom: 7.5vh;
  margin-right: 1rem;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}

.competitiveAnalysis .compAnalysisImgArea img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
  margin-right: 1rem;
}

.competitiveAnalysis .compAnalysisTextArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
  padding-top: 1rem;
}

.competitiveAnalysis .compAnalysisTextArea h4 {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 0.2em;
}

.competitiveAnalysis .compAnalysisTextArea li {
  text-align: justify;
  text-justify: auto;
  margin-bottom: 1.2em;
}

.journeyMap {
  margin-top: 15vh;
  min-height: 60vh;
  padding-bottom: 15vh;
}

.journeyMap h3 {
  margin-bottom: 5vh;
}

.journeyMap .journeyTextArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.journeyMap .journeyTextArea > div {
  padding: 0;
}

.journeyMap .journeyImgOuter {
  margin-top: 2rem;
  padding: 1rem calc(1rem - 2px);
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.journeyMap .journeyImgOuter img {
  background-color: inherit;
}

.siteMap {
  margin-top: 15vh;
  min-height: 60vh;
  padding: 0 0 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.siteMap .siteMapHead {
  padding: 0;
}

.siteMap .siteMapHead h3 {
  margin: 0 auto 2rem 1rem;
  max-width: 90%;
  padding: 1rem;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
  border-radius: 6px;
}

.siteMap .siteMapImgOuter {
  padding: 0 1rem;
}

.siteMap .siteMapImgOuter img {
  cursor: pointer;
}

.moodBoard {
  margin-top: 15vh;
  min-height: 60vh;
}

.moodBoard .moodTextArea {
  padding: 1rem 1.5rem;
  text-align: justify;
  text-justify: auto;
  background-color: #333333;
  color: #ffffff;
  -webkit-box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
          box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
  border-radius: 6px 6px 0 6px;
}

.moodBoard .moodBoardImgCont {
  background-color: #333333;
  padding: 3.7% 3.7%;
  margin-right: 0;
  margin-left: auto;
  -webkit-box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
          box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
  border-radius: 0 6px 6px 6px;
}

.moodBoard .moodBoardImgCont img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.wireframe {
  background-color: #222222;
  color: #ffffff;
  margin-top: 15vh;
  padding-top: 15vh;
  padding-bottom: 30vh;
}

.wireframe .wfPre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60vh;
}

.wireframe .wfPre h2 {
  margin-top: 7.5vh;
  width: 100%;
}

.wireframe .wfPre h3 {
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}

.wireframe .wfPre > div {
  margin-top: 7.5vh;
  padding: 0;
}

.wireframe .wf1, .wireframe .wf2, .wireframe .wf3 {
  margin-top: 15vh;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wireframe .wf1 .wfImgOuter, .wireframe .wf2 .wfImgOuter, .wireframe .wf3 .wfImgOuter {
  background-color: #ffffff;
  -webkit-box-shadow: 5px 7px 20px 5px rgba(187, 187, 187, 0.603);
          box-shadow: 5px 7px 20px 5px rgba(187, 187, 187, 0.603);
  border-radius: 6px;
}

.wireframe .wf1 .wfImgOuter img, .wireframe .wf2 .wfImgOuter img, .wireframe .wf3 .wfImgOuter img {
  background-color: inherit;
  border-radius: inherit;
}

.wireframe .wf1 > div, .wireframe .wf2 > div, .wireframe .wf3 > div {
  padding: 0;
}

.wireframe .wf1 p, .wireframe .wf2 p, .wireframe .wf3 p {
  margin-bottom: 1.5rem;
}

.wireframe .wf2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.wireframe .wf3 img {
  max-width: 100%;
  height: auto;
}

.wireframe .wfScrollOuter {
  margin-top: 15vh;
  min-height: 60vh;
}

.wireframe .wfScrollOuter .wfScrollHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wireframe .wfScrollOuter .wfScrollHead h3 {
  margin: 0;
}

.wireframe .wfScrollOuter .wfScrollInner {
  margin-top: 7.5vh;
  -webkit-box-shadow: 5px 7px 20px 5px rgba(187, 187, 187, 0.603);
          box-shadow: 5px 7px 20px 5px rgba(187, 187, 187, 0.603);
  border-radius: 6px;
  padding: 1rem 0;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 75vh;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  border-radius: 0.66667rem;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 0.66667rem;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll::-webkit-scrollbar-track {
  background: #868686;
  border-radius: 0.66667rem;
  -webkit-box-shadow: 0 2px 5px #000;
          box-shadow: 0 2px 5px #000;
  margin: 0 5vw;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll {
  scrollbar-face-color: #353535;
  scrollbar-track-color: #868686;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll > div {
  max-height: 100%;
  min-width: 50%;
  max-width: 70%;
  text-align: center;
  margin: 0 2rem 1rem;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll > div:first-child {
  margin-left: 4rem;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll > div:last-child {
  margin-right: 4rem;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll > div h4 {
  white-space: nowrap;
  text-overflow: fade;
  overflow: hidden;
}

.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll > div img {
  max-height: 95%;
  max-width: 100%;
  height: auto;
}

.wireframe img {
  cursor: pointer;
}

.finalProto {
  margin-top: 15vh;
  padding-bottom: 45vh;
}

.finalProto .imgTextHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60vh;
}

.finalProto .imgTextHeading > div {
  padding: 0;
}

.finalProto .imgTextHeading .textButtonOuter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2rem 0;
}

.finalProto .imgTextHeading .textButtonOuter h2 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.finalProto .imgTextHeading .textButtonOuter button,
.finalProto .imgTextHeading .textButtonOuter a {
  margin-top: 2rem;
  margin-bottom: 0;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
}

.finalProto .imgTextHeading .headImg {
  margin-top: 2rem;
}

.finalProto .imgTextHeading .headImg img {
  max-width: 100%;
  height: auto;
}

.finalProto .colorScheme {
  margin-top: 15vh;
  min-height: 60vh;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.finalProto .colorScheme > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
  text-justify: auto;
}

.finalProto .colorScheme .svgOuter {
  padding: 0;
}

.finalProto .colorScheme .svgOuter svg {
  -webkit-box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
          box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
  max-width: 100%;
  height: auto;
  margin-top: 5%;
}

.finalProto .colorScheme .colorsTextArea {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.finalProto .colorScheme .colorsTextArea h3 {
  margin: 5% 0;
}

.finalProto .colorScheme .colorsTextArea p {
  margin: 5% 0;
}

.finalProto .subscriptArea {
  margin-top: 15vh;
  min-height: 60vh;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.finalProto .subscriptArea .protoTextArea2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.finalProto .subscriptArea .protoTextArea2 h3,
.finalProto .subscriptArea .protoTextArea2 p {
  margin-bottom: 2rem;
}

.finalProto .subscriptArea .protoTextArea2 p {
  text-align: justify;
  text-justify: auto;
}

.finalProto .subscriptArea .subsImgContainer img {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
          box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
}

.finalProto .scrollGroupsDemo {
  margin-top: 15vh;
  min-height: 60vh;
  text-align: end;
  padding: 2rem 0;
}

.finalProto .scrollGroupsDemo h3 {
  text-align: start;
  height: 50%;
  margin-bottom: 5%;
}

.finalProto .scrollGroupsDemo img {
  max-width: 100%;
  height: auto;
  cursor: initial;
}

.finalProto .imgGradients {
  margin-top: 15vh;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.finalProto .imgGradients h3 {
  margin-bottom: 5%;
}

.finalProto .imgGradients .protoTextArea1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: justify;
  text-justify: auto;
  padding: 2rem 1.5rem 0;
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
  margin-bottom: 2rem;
}

.finalProto .imgGradients .protoTextArea1 p {
  margin-bottom: 2rem;
}

.finalProto .imgGradients img {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.finalProto .resultsSec {
  margin-top: 22.5vh;
  margin-bottom: 15vh;
}

.finalProto .resultsSec h2 {
  margin-bottom: 2rem;
}

.finalProto .resultsSec button,
.finalProto .resultsSec a {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
}

.finalProto .protoScrollOuter {
  margin-top: 15vh;
  min-height: 60vh;
}

.finalProto .protoScrollOuter .ScrollHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.finalProto .protoScrollOuter .ScrollInner {
  margin-top: 1rem;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
  border-radius: 6px;
  padding: 2rem 0 3rem;
}

.finalProto .protoScrollOuter .ScrollInner .protoScroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 75vh;
  padding-bottom: 2rem;
}

.finalProto .protoScrollOuter .ScrollInner .protoScroll::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  border-radius: 0.66667rem;
}

.finalProto .protoScrollOuter .ScrollInner .protoScroll::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 0.66667rem;
}

.finalProto .protoScrollOuter .ScrollInner .protoScroll::-webkit-scrollbar-track {
  background: #868686;
  border-radius: 0.66667rem;
  -webkit-box-shadow: 0 2px 5px #000;
          box-shadow: 0 2px 5px #000;
  margin: 0 5vw;
}

.finalProto .protoScrollOuter .ScrollInner .protoScroll {
  scrollbar-face-color: #353535;
  scrollbar-track-color: #868686;
}

.finalProto .protoScrollOuter .ScrollInner .protoScroll > div {
  max-height: 100%;
  min-width: 35%;
  max-width: 70%;
  text-align: center;
  margin: 0 2rem 1rem;
}

.finalProto .protoScrollOuter .ScrollInner .protoScroll > div:first-child {
  margin-left: 4rem;
}

.finalProto .protoScrollOuter .ScrollInner .protoScroll > div:last-child {
  margin-right: 4rem;
}

.finalProto .protoScrollOuter .ScrollInner .protoScroll > div h4 {
  white-space: nowrap;
  overflow: hidden;
}

.finalProto .protoScrollOuter .ScrollInner .protoScroll > div img {
  max-height: 95%;
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0 1px 5px 1px #494949;
          box-shadow: 0 1px 5px 1px #494949;
  margin-bottom: 0;
  margin-top: auto;
}

.finalProto img {
  cursor: pointer;
}
