@import "scss/variables", "scss/mixin";

.fixedTopBtn {
  @include linkColoredCanExpand(
    $scale: 1.1,
    $bg: #333333,
    $hovShadow: $lgAreaShadow
  );

  display: block;
  text-align: center;
  box-shadow: $smBoxShadow;
  position: fixed;
  z-index: 1;
  bottom: 25px;
  right: 20px;
  padding: 10px 10px;

  &:hover {
    text-decoration: none;
  }
  svg {
    @include fullWidthImg;
    fill: #ffffff;
  }
  p {
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0;
    color: #ffffff;
    font-weight: 300;
  }
}

.staticLgImg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000de;
  text-align: center;
  overflow-y: auto;
  padding: 25px 5%;
  z-index: 90;
  display: block;
  cursor: pointer;

  img {
    @include fullWidthImg;
    margin: auto;
  }
  .imgWithBg {
    padding: 1rem;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .textOverlay {
    position: fixed;
    bottom: 10px;
    right: 25px;
    background-color: rgba(54, 54, 54, 0.623);
    border-radius: 15%;
    overflow: hidden;
    margin: 5px 25px;
    box-shadow: 0px 0px 25px 25px rgba(54, 54, 54, 0.623);

    p {
      color: #ffffff;
      font-size: 1.5em;
      text-decoration: underline 1px solid;
      font-weight: 300;
      margin: 0;
      margin-bottom: 3px;
    }
  }
}

.eHead4 {
  background-color: #333;
  position: relative;

  .absoluteHomeArrow {
    position: absolute;
    width: 50px;
    height: auto;
    bottom: 10px;
    left: 10px;

    svg {
      fill: #ffffff;
      margin: auto 0;
      @include fullWidthImg;

      .cls-1 {
        fill: #ffffff;
        stroke: none;
      }
    }
  }

  .container {
    display: flex;
    padding: 0;
    min-height: $sectionHeight;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 1rem 2rem;

    > div {
      max-width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;

      svg {
        width: 200px;
        height: auto;
        filter: brightness(100) saturate(0);
        margin-left: 5px;
      }
      p {
        margin: 3rem auto 0;
        color: #fff;
        text-align: start;
        hyphens: none;
      }
      img {
        max-width: 100%;
        cursor: pointer;
        box-shadow: $smBoxShadowWhite, $smBoxShadowWhite;
        border-radius: 10px;
      }
    }
  }
}

.needsCenteredAll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionTitle {
  margin-left: -1rem;
  margin-bottom: 0;
  font-size: 3em;
  font-weight: 300;
}

.edZ2Body {
  width: 100vw;
  min-height: 100vh;
  display: block;
  position: absolute;
  background-color: #fff;
  line-height: 1.5em;

  h3 {
    font-size: 2em;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  p {
    font-size: 1.2em;
    text-align: justify;
    hyphens: auto;
    line-height: 1.25em;
  }
  strong {
    font-size: 1em;
    hyphens: none;
    line-height: 1.25em;
  }
  li {
    margin-bottom: 0.5rem;
    line-height: 1.25em;
    font-size: 1.2em;

    strong {
      line-height: inherit;
      font-size: 1em;
    }
  }
}

.introSection {
  display: flex;
  flex-wrap: wrap;
  padding: $sectionPadding;

  > div {
    margin: 1rem auto;
    padding: 1rem 3rem 0;

    h3 {
      margin-bottom: 0.5rem;
    }
    p {
      margin-bottom: 0.5em;
    }
  }
  .roleScope {
    > div {
      margin-bottom: 1.5rem;
    }
    p {
      text-align: start;
    }
    button,
    a {
      margin-bottom: 0;
      box-shadow: $smBoxShadow;
    }
  }
}

.researchSection {
  padding: $sectionPadding;

  h2 {
    margin-bottom: 3rem;
    @extend .sectionTitle;
  }

  .businessResearch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    .textArea1 {
      padding: 1rem;

      h3 {
        font-weight: 600;
      }
      p {
        margin: 3rem 0;
      }
    }
    .nonTextArea1 {
      padding: 2rem 1rem;
      margin: 1rem auto;
      background-color: #333333;
      box-shadow: $smBoxShadow;
      text-align: center;
      max-height: fit-content;
      max-width: calc(500px + 4rem);

      .img1 {
        margin-bottom: 3rem;
        max-width: 500px;
        width: 100%;
        height: auto;
      }
      .img2 {
        background-color: #fff;
        max-width: 500px;
        width: 100%;
        height: auto;
        padding: 1rem;
      }
    }
  }
}

.userResearch {
  padding: $sectionPadding;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .usersHeading {
    display: flex;
    align-items: center;
    padding: 0 2rem 0 1rem;

    h3 {
      margin: 0;
      font-weight: 600;
    }
  }

  .usersHeading {
    margin-bottom: 3rem;
  }
  .userTextArea p,
  ul {
    margin-bottom: 3rem;
  }

  .hScrollGroup {
    padding: 1rem 0 1rem;
    margin: 0 1rem;
    box-shadow: $smBoxShadow;
    max-width: calc(100% - 2rem);
    border-radius: 12px;

    .innerWrapper {
      overflow-x: scroll;
      display: flex;
      margin: auto;
      @include scrollBars(1rem, #333333);
    }
    img {
      margin: 1rem 3rem 2rem;
      max-height: 35vh;
      width: auto;
      border-radius: 12px;
      box-shadow: $lgAreaShadow;
      cursor: pointer;
    }
  }
}

.competitiveAnalysis {
  padding: $sectionPadding;
  display: flex;
  flex-wrap: wrap;

  .compAnalysisImgArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      margin: 1rem 1rem 3rem 0;
      font-weight: 600;
      hyphens: none;
    }
    img {
      @include fullWidthImg;
      cursor: pointer;
      background-color: #ffffff;
      box-shadow: $smBoxShadow;
      margin-right: 1rem;
    }
  }
  .compAnalysisTextArea {
    box-shadow: $smBoxShadow;
    padding-top: 1rem;

    h4 {
      margin-bottom: 3rem;
      border-bottom: 1px solid;
      width: fit-content;
      padding-top: 0.2em;
    }
    ul {
      margin: 0;
      padding: inherit;

      li {
        text-align: justify;
        text-justify: auto;
        margin-bottom: 3rem;
      }
    }
  }
}

.journeyMap {
  padding: $sectionPadding;

  h3 {
    margin-bottom: 3rem;
    font-weight: 600;
  }
  .journeyTextArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
      padding: 0;

      p {
        margin-bottom: 3rem;
      }
    }
  }
  .journeyImgOuter {
    padding: 0.5rem;
    box-shadow: $smBoxShadow;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;

    img {
      background-color: inherit;
      border-radius: inherit;
    }
  }
}

.siteMap {
  padding: $sectionPadding;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  .siteMapHead {
    padding: 0;

    h3 {
      font-weight: 600;
      max-width: 90%;
      padding: 1rem;
      box-shadow: $smBoxShadow;
      border-radius: 6px;
      hyphens: none;
    }
  }
  .siteMapImgOuter {
    padding: 0 1rem;

    img {
      cursor: pointer;
    }
  }
}

.moodBoard {
  padding: $sectionPadding;

  .moodTextArea {
    padding: 1rem 1.5rem;
    text-align: justify;
    text-justify: auto;
    background-color: #333333;
    color: #ffffff;
    box-shadow: $lgAreaShadow;
    border-radius: 6px 6px 0 6px;
    z-index: 1;

    h3 {
      margin: 0;
    }
  }
  .moodBoardImgCont {
    background-color: #333333e0;
    padding: 3.7% 3.7%;
    margin-right: 0;
    margin-left: auto;
    margin-top: -1rem;
    box-shadow: $smBoxShadow;
    border-radius: 0 6px 6px 6px;
    z-index: 0;

    img {
      max-width: 100%;
      height: auto;
      cursor: pointer;
    }
  }
}

.wireframe {
  background-color: #222222;
  color: #ffffff;
  margin-top: 3rem;
  padding: $sectionPadding;

  .wfPre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $sectionPadding;

    h2 {
      flex-basis: 100%;
      margin-bottom: 3rem;
      @extend .sectionTitle;
    }
    h3 {
      hyphens: none;
      font-weight: 600;
    }
    h3,
    p {
      margin-bottom: 3rem;
    }
    > div {
      padding: 0;
    }
  }

  .wf1 {
    padding: $sectionPadding;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .wfImgOuter {
      background-color: #ffffff;
      box-shadow: $smBoxShadowWhite;
      border-radius: 6px;

      img,
      video {
        background-color: inherit;
        border-radius: inherit;
        box-shadow: $smBoxShadowWhite;
        @include fullWidthImg;
      }
    }

    > div {
      padding: 0;
    }
    p {
      margin-bottom: 3rem;
    }
  }

  .wf2 {
    @extend .wf1;
    flex-direction: row-reverse;
  }

  .wf3 {
    @extend .wf1;

    img {
      @include fullWidthImg;
    }
  }

  .wfScrollOuter {
    padding: $sectionPadding;

    .wfScrollHead {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      h3 {
        margin-bottom: 3rem;
        font-weight: 600;
      }
    }

    .wfScrollInner {
      box-shadow: $smBoxShadowWhite;
      border-radius: 6px;
      padding: 1rem 0;

      .wireframeScroll {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        max-height: 75vh;
        @include scrollBars(1rem, #353535);

        > div {
          max-height: 100%;
          min-width: 50%;
          max-width: 70%;
          text-align: center;
          margin: 0 2rem 1rem;

          &:first-child {
            margin-left: 4rem;
          }
          &:last-child {
            margin-right: 4rem;
          }
          h4 {
            white-space: nowrap;
            overflow: hidden;
            font-weight: 300;
          }
          img {
            max-height: 95%;
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  img {
    cursor: pointer;
  }
}

.finalProto {
  padding: $sectionPadding;

  .imgTextHeading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: $sectionPadding;

    > div {
      padding: 0;
    }
    .textButtonOuter {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h2 {
        margin-top: 0;
        margin-bottom: 3rem;
        @extend .sectionTitle;
      }
      button,
      a {
        margin-bottom: 3rem;
        box-shadow: $smBoxShadow;
      }
    }
    .headImg {
      img {
        @include fullWidthImg;
      }
    }
  }

  .colorScheme {
    padding: $sectionPadding;
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    .svgOuter {
      padding: 0;

      svg {
        box-shadow: $lgAreaShadow;
        @include fullWidthImg;
      }
    }
    .colorsTextArea {
      h3 {
        margin-bottom: 3rem;
        font-weight: 600;
      }
      p {
        margin-bottom: 3rem;
      }
    }
  }

  .subscriptArea {
    padding: $sectionPadding;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .protoTextArea2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-weight: 600;
      }
      p {
        text-align: justify;
        text-justify: auto;
      }
      h3,
      p {
        margin-bottom: 3rem;
      }
    }
    .subsImgContainer {
      padding: 0;

      img {
        max-width: 100%;
        height: auto;
        box-shadow: $lgAreaShadow;
      }
    }
  }

  .scrollGroupsDemo {
    padding: 5rem 0;

    .outer {
      padding: 1rem;
      box-shadow: $smBoxShadow;
      border-radius: 6px;

      .col1 {
        margin-left: 0;
        margin-right: auto;

        h3 {
          margin-bottom: 3rem;
          font-weight: 600;
        }
      }
      .col2 {
        margin-left: auto;
        margin-right: 0;
        padding: 0;

        img,
        video {
          width: 100%;
          height: auto;
          cursor: initial;
          background-color: inherit;
        }
      }
    }
  }

  .imgGradients {
    padding: $sectionPadding;
    display: flex;
    flex-wrap: wrap;

    h3 {
      margin-bottom: 3rem;
      font-weight: 600;
    }
    .imgGradImgOuter {
      margin-bottom: 3rem;

      img {
        max-width: 100%;
        height: auto;
      }
    }
    .protoTextArea1 {
      box-shadow: $smBoxShadow;
      padding-top: 3rem;
      border-radius: 6px;
      margin: 0 auto 3rem auto;

      p {
        margin-bottom: 3rem;
      }
    }
  }

  .protoScrollOuter {
    padding: $sectionPadding;

    .resultsHead {
      h2 {
        margin-bottom: 3rem;
        @extend .sectionTitle;
      }
      button,
      a {
        margin-bottom: 3rem;
        box-shadow: $smBoxShadow;
      }
    }
    h3 {
      font-weight: 600;
      margin-bottom: 3rem;
    }
    .ScrollInner {
      box-shadow: $smBoxShadow;
      border-radius: 6px;
      padding: 3rem 0;

      .protoScroll {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        max-height: 75vh;
        padding-bottom: 2rem;
        @include scrollBars(1rem, #353535);

        > div {
          max-height: 100%;
          min-width: 35%;
          max-width: 70%;
          text-align: center;
          margin: 0 3rem;

          &:first-child {
            margin-left: 6rem;
          }
          &:last-child {
            margin-right: 6rem;
          }
          h4 {
            white-space: nowrap;
            overflow: hidden;
          }
          img {
            max-height: 95%;
            max-width: 100%;
            height: auto;
            box-shadow: $smBoxShadow;
            margin-bottom: 0;
            margin-top: auto;
          }
        }
      }
    }
  }

  img {
    cursor: pointer;
  }
}
