@-webkit-keyframes glowing {
  50% {
    background-position: 100% 50%;
  }
}
@keyframes glowing {
  50% {
    background-position: 100% 50%;
  }
}
@-webkit-keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
@media (max-width: 1200px) {
  .fixedTopBtn {
    right: 10px;
    bottom: 10px;
  }
  .fixedTopBtn p {
    font-size: 1em;
  }
  .sectionHeading {
    width: 100%;
  }
  .moodBoard .moodTextArea {
    padding: 1rem;
  }
}
@media (max-width: 992px) {
  .fixedTopBtn {
    right: 5px;
    bottom: 7px;
    padding: 5px;
  }
  .fixedTopBtn p {
    font-size: 1em;
  }
  .eHead4 .container > div p {
    margin: 2rem auto 0;
  }
  .researchSection .businessResearch .textArea1 {
    padding: 0;
  }
  .userResearch .usersHeading,
.userResearch .userTextArea {
    padding: 0;
  }
  .userResearch .hScrollGroup {
    margin: 0;
    max-width: 100%;
  }
  .userResearch .hScrollGroup .innerWrapper::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.3333333333rem;
  }
  .userResearch .hScrollGroup .innerWrapper::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 0.3333333333rem;
  }
  .userResearch .hScrollGroup .innerWrapper::-webkit-scrollbar-track {
    background: #858585;
    border-radius: 0.3333333333rem;
    box-shadow: 0 2px 5px #000;
    margin: 0 5vw;
  }
  .userResearch .hScrollGroup .innerWrapper {
    scrollbar-face-color: #333333;
    scrollbar-track-color: #858585;
  }
  .userResearch .hScrollGroup .innerWrapper img {
    margin: 0.5rem 1.5rem 2rem;
  }
  .competitiveAnalysis .compAnalysisImgArea {
    padding: 0;
  }
  .competitiveAnalysis .compAnalysisImgArea h3 {
    text-align: justify;
    margin-bottom: 2rem;
  }
  .competitiveAnalysis .compAnalysisImgArea img {
    margin: 0;
  }
  .competitiveAnalysis .compAnalysisTextArea {
    margin-top: 2rem;
  }
  .competitiveAnalysis .compAnalysisTextArea h4 {
    margin-bottom: 1.5rem;
  }
  .competitiveAnalysis .compAnalysisTextArea li {
    margin-bottom: 1.5rem;
  }
  .journeyMap h3 {
    text-align: justify;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
  }
  .journeyMap .journeyImgOuter {
    padding: 0.25rem;
  }
  .siteMap .siteMapHead h3 {
    box-shadow: none;
    max-width: 100%;
    padding: 0;
    margin-bottom: 3rem;
  }
  .siteMap .siteMapImgOuter {
    padding: 0;
  }
  .moodBoard .moodTextArea {
    padding: 1rem;
    border-radius: 6px 6px 0 0;
    background-color: #333333;
    box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
    z-index: 1;
  }
  .moodBoard .moodBoardImgCont {
    padding: 0.5rem 3.7% 3.7%;
    border-radius: 0 0 6px 6px;
    margin-top: 0px;
    z-index: 0;
    box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
    background-color: #333333;
  }
  .finalProto .colorScheme {
    padding-left: 0;
    padding-right: 0;
  }
  .finalProto .colorScheme .colorsTextArea {
    padding-left: 2rem;
    padding-right: 0;
  }
  .finalProto .colorScheme .proto3 .protoTextArea1 {
    padding: 0 1rem;
    margin: 2rem auto;
  }
  .finalProto .subscriptArea .subsImgContainer {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .eHead4 .absoluteHomeArrow {
    top: 15px;
    right: 15px;
    left: auto !important;
  }
  .eHead4 .container {
    justify-content: center;
  }
  .eHead4 .container > div svg {
    margin: auto;
  }
  .edZ2Body h3 {
    font-size: 1.75em;
  }
  .edZ2Body h4 {
    font-size: 1.25em;
  }
  .finalProto .colorScheme {
    flex-wrap: wrap-reverse;
  }
  .finalProto .colorScheme .svgOuter {
    padding: 0 1rem;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .finalProto .colorScheme .svgOuter svg {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .finalProto .colorScheme .colorsTextArea {
    padding: 0 1rem;
  }
  .projectsSubsectionRow .card-body {
    padding: 1rem;
  }
  .introSection > div {
    padding: 1rem;
  }
}
@media (max-width: 576px) {
  .fixedTopBtn {
    display: none;
  }
  .eHead4 .container > div {
    padding-left: 0;
    padding-right: 0;
  }
  .sectionTitle, .finalProto .protoScrollOuter .resultsHead h2, .finalProto .imgTextHeading .textButtonOuter h2, .wireframe .wfPre h2, .researchSection h2 {
    margin-left: initial !important;
    margin-right: initial !important;
  }
  .researchSection h2 {
    margin-left: initial;
  }
  .wireframe .wfPre h2 {
    margin-left: initial;
  }
  .competitiveAnalysis .compAnalysisImgArea h3 {
    text-align: start;
  }
  .journeyMap h3 {
    text-align: start;
  }
  .moodBoard .moodTextArea {
    text-align: start;
  }
  .finalProto .imgTextHeading {
    padding-left: 0;
    padding-right: 0;
  }
  .finalProto .imgTextHeading .textButtonOuter h2 {
    margin-left: 0;
  }
  .finalProto .colorScheme .svgOuter svg {
    margin: 5% auto 0;
  }
  .finalProto .subscriptArea .subsImgContainer,
.finalProto .protoTextArea2 {
    padding: 0;
  }
  .finalProto .scrollGroupsDemo div {
    padding: 0;
  }
  .finalProto .imgGradients .protoTextArea1 {
    padding: 3rem 0.5rem 0;
  }
  .finalProto .imgGradients > div {
    padding: 0;
  }
  .finalProto .protoScrollOuter {
    padding: 0;
  }
  .finalProto .protoScrollOuter .resultsHead h2 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .sectionHeading {
    width: 60%;
  }
  .projectsHeadingSection {
    max-width: 45vw;
  }
}
@media (min-width: 992px) {
  footer > .container {
    max-width: 30% !important;
  }
}
@media (min-width: 768px) {
  .linkCol {
    text-align: start !important;
  }
}
.eHead4 {
  background-color: #333;
  position: relative;
}
.eHead4 .absoluteHomeArrow {
  position: absolute;
  width: 50px;
  height: auto;
  bottom: 10px;
  left: 10px;
}
.eHead4 .absoluteHomeArrow svg {
  fill: #ffffff;
  margin: auto 0;
  max-width: 100%;
  height: auto;
}
.eHead4 .absoluteHomeArrow svg .cls-1 {
  fill: #ffffff;
  stroke: none;
}
.eHead4 .container {
  display: flex;
  padding: 0;
  min-height: 60vh;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 1rem 2rem;
}
.eHead4 .container > div {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.eHead4 .container > div svg {
  max-width: 225px;
  height: auto;
  margin-left: 5px;
}
.eHead4 .container > div p {
  margin: 3rem auto 0;
  color: #fff;
  text-align: start;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
.eHead4 .container > div img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.4392156863), 0px 0px 5px 2px rgba(255, 255, 255, 0.4392156863);
  border-radius: 10px;
}

.needsCenteredAll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionTitle, .finalProto .protoScrollOuter .resultsHead h2, .finalProto .imgTextHeading .textButtonOuter h2, .wireframe .wfPre h2, .researchSection h2 {
  margin-left: -1rem;
  margin-bottom: 0;
  font-size: 3em;
  font-weight: 300;
}

.edZ2Body {
  width: 100vw;
  min-height: 100vh;
  display: block;
  position: absolute;
  background-color: #fff;
  line-height: 1.5em;
}
.edZ2Body h3 {
  font-size: 2em;
  margin-bottom: 1rem;
  font-weight: 500;
}
.edZ2Body p {
  font-size: 1.2em;
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 1.25em;
}
.edZ2Body strong {
  font-size: 1em;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  line-height: 1.25em;
}
.edZ2Body li {
  margin-bottom: 0.5rem;
  line-height: 1.25em;
  font-size: 1.2em;
}
.edZ2Body li strong {
  line-height: inherit;
  font-size: 1em;
}

.introSection {
  display: flex;
  flex-wrap: wrap;
  padding: 6rem 1rem;
}
.introSection > div {
  margin: 1rem auto;
  padding: 1rem 3rem 0;
}
.introSection > div h3 {
  margin-bottom: 0.5rem;
}
.introSection > div p {
  margin-bottom: 0.5em;
}
.introSection .roleScope > div {
  margin-bottom: 1.5rem;
}
.introSection .roleScope p {
  text-align: start;
}
.introSection .roleScope button,
.introSection .roleScope a {
  margin-bottom: 0;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
}

.researchSection {
  padding: 6rem 1rem;
}
.researchSection h2 {
  margin-bottom: 3rem;
}
.researchSection .businessResearch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.researchSection .businessResearch .textArea1 {
  padding: 1rem;
}
.researchSection .businessResearch .textArea1 h3 {
  font-weight: 600;
}
.researchSection .businessResearch .textArea1 p {
  margin: 3rem 0;
}
.researchSection .businessResearch .nonTextArea1 {
  padding: 2rem 1rem;
  margin: 1rem auto;
  background-color: #333333;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  text-align: center;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  max-width: calc(500px + 4rem);
}
.researchSection .businessResearch .nonTextArea1 .img1 {
  margin-bottom: 3rem;
  max-width: 500px;
  max-width: 100%;
  height: auto;
}
.researchSection .businessResearch .nonTextArea1 .img2 {
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  height: auto;
  padding: 1rem;
}

.userResearch {
  padding: 6rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.userResearch .usersHeading {
  display: flex;
  align-items: center;
  padding: 0 2rem 0 1rem;
}
.userResearch .usersHeading h3 {
  margin: 0;
  font-weight: 600;
}
.userResearch .usersHeading {
  margin-bottom: 3rem;
}
.userResearch .userTextArea p,
.userResearch ul {
  margin-bottom: 3rem;
}
.userResearch .hScrollGroup {
  padding: 1rem 0 1rem;
  margin: 0 1rem;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  max-width: calc(100% - 2rem);
  border-radius: 12px;
}
.userResearch .hScrollGroup .innerWrapper {
  overflow-x: scroll;
  display: flex;
  margin: auto;
}
.userResearch .hScrollGroup .innerWrapper::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  border-radius: 0.6666666667rem;
}
.userResearch .hScrollGroup .innerWrapper::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 0.6666666667rem;
}
.userResearch .hScrollGroup .innerWrapper::-webkit-scrollbar-track {
  background: #858585;
  border-radius: 0.6666666667rem;
  box-shadow: 0 2px 5px #000;
  margin: 0 5vw;
}
.userResearch .hScrollGroup .innerWrapper {
  scrollbar-face-color: #333333;
  scrollbar-track-color: #858585;
}
.userResearch .hScrollGroup img {
  margin: 1rem 3rem 2rem;
  max-height: 35vh;
  width: auto;
  border-radius: 12px;
  box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
  cursor: pointer;
}

.competitiveAnalysis {
  padding: 6rem 1rem;
  display: flex;
  flex-wrap: wrap;
}
.competitiveAnalysis .compAnalysisImgArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.competitiveAnalysis .compAnalysisImgArea h3 {
  margin: 1rem 1rem 3rem 0;
  font-weight: 600;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
.competitiveAnalysis .compAnalysisImgArea img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  margin-right: 1rem;
}
.competitiveAnalysis .compAnalysisTextArea {
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  padding-top: 1rem;
}
.competitiveAnalysis .compAnalysisTextArea h4 {
  margin-bottom: 3rem;
  border-bottom: 1px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 0.2em;
}
.competitiveAnalysis .compAnalysisTextArea ul {
  margin: 0;
  padding: inherit;
}
.competitiveAnalysis .compAnalysisTextArea ul li {
  text-align: justify;
  text-justify: auto;
  margin-bottom: 3rem;
}

.journeyMap {
  padding: 6rem 1rem;
}
.journeyMap h3 {
  margin-bottom: 3rem;
  font-weight: 600;
}
.journeyMap .journeyTextArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.journeyMap .journeyTextArea > div {
  padding: 0;
}
.journeyMap .journeyTextArea > div p {
  margin-bottom: 3rem;
}
.journeyMap .journeyImgOuter {
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

.siteMap {
  padding: 6rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.siteMap .siteMapHead {
  padding: 0;
}
.siteMap .siteMapHead h3 {
  font-weight: 600;
  max-width: 90%;
  padding: 1rem;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  border-radius: 6px;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
.siteMap .siteMapImgOuter {
  padding: 0 1rem;
}
.siteMap .siteMapImgOuter img {
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

.moodBoard {
  padding: 6rem 1rem;
}
.moodBoard .moodTextArea {
  padding: 1rem 1.5rem;
  text-align: justify;
  text-justify: auto;
  background-color: #333333;
  color: #ffffff;
  box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
  border-radius: 6px 6px 0 6px;
  z-index: 1;
}
.moodBoard .moodTextArea h3 {
  margin: 0;
}
.moodBoard .moodBoardImgCont {
  background-color: rgba(51, 51, 51, 0.8784313725);
  padding: 3.7% 3.7%;
  margin-right: 0;
  margin-left: auto;
  margin-top: -1rem;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  border-radius: 0 6px 6px 6px;
  z-index: 0;
}
.moodBoard .moodBoardImgCont img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.wireframe {
  background-color: #222222;
  color: #ffffff;
  margin-top: 3rem;
  padding: 6rem 1rem;
}
.wireframe .wfPre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6rem 1rem;
}
.wireframe .wfPre h2 {
  flex-basis: 100%;
  margin-bottom: 3rem;
}
.wireframe .wfPre h3 {
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  font-weight: 600;
}
.wireframe .wfPre h3,
.wireframe .wfPre p {
  margin-bottom: 3rem;
}
.wireframe .wfPre > div {
  padding: 0;
}
.wireframe .wf1, .wireframe .wf3, .wireframe .wf2 {
  padding: 6rem 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.wireframe .wf1 .wfImgOuter, .wireframe .wf3 .wfImgOuter, .wireframe .wf2 .wfImgOuter {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.4392156863);
  border-radius: 6px;
}
.wireframe .wf1 .wfImgOuter img, .wireframe .wf3 .wfImgOuter img, .wireframe .wf2 .wfImgOuter img,
.wireframe .wf1 .wfImgOuter video,
.wireframe .wf3 .wfImgOuter video,
.wireframe .wf2 .wfImgOuter video {
  background-color: inherit;
  border-radius: inherit;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.4392156863);
  max-width: 100%;
  height: auto;
}
.wireframe .wf1 > div, .wireframe .wf3 > div, .wireframe .wf2 > div {
  padding: 0;
}
.wireframe .wf1 p, .wireframe .wf3 p, .wireframe .wf2 p {
  margin-bottom: 3rem;
}
.wireframe .wf2 {
  flex-direction: row-reverse;
}
.wireframe .wf3 img {
  max-width: 100%;
  height: auto;
}
.wireframe .wfScrollOuter {
  padding: 6rem 1rem;
}
.wireframe .wfScrollOuter .wfScrollHead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.wireframe .wfScrollOuter .wfScrollHead h3 {
  margin-bottom: 3rem;
  font-weight: 600;
}
.wireframe .wfScrollOuter .wfScrollInner {
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.4392156863);
  border-radius: 6px;
  padding: 1rem 0;
}
.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 75vh;
}
.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  border-radius: 0.6666666667rem;
}
.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 0.6666666667rem;
}
.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll::-webkit-scrollbar-track {
  background: #868686;
  border-radius: 0.6666666667rem;
  box-shadow: 0 2px 5px #000;
  margin: 0 5vw;
}
.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll {
  scrollbar-face-color: #353535;
  scrollbar-track-color: #868686;
}
.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll > div {
  max-height: 100%;
  min-width: 50%;
  max-width: 70%;
  text-align: center;
  margin: 0 2rem 1rem;
}
.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll > div:first-child {
  margin-left: 4rem;
}
.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll > div:last-child {
  margin-right: 4rem;
}
.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll > div h4 {
  white-space: nowrap;
  overflow: hidden;
  font-weight: 300;
}
.wireframe .wfScrollOuter .wfScrollInner .wireframeScroll > div img {
  max-height: 95%;
  max-width: 100%;
  height: auto;
}
.wireframe img {
  cursor: pointer;
}

.finalProto {
  padding: 6rem 1rem;
}
.finalProto .imgTextHeading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 6rem 1rem;
}
.finalProto .imgTextHeading > div {
  padding: 0;
}
.finalProto .imgTextHeading .textButtonOuter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.finalProto .imgTextHeading .textButtonOuter h2 {
  margin-top: 0;
  margin-bottom: 3rem;
}
.finalProto .imgTextHeading .textButtonOuter button,
.finalProto .imgTextHeading .textButtonOuter a {
  margin-bottom: 3rem;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
}
.finalProto .imgTextHeading .headImg img {
  max-width: 100%;
  height: auto;
}
.finalProto .colorScheme {
  padding: 6rem 1rem;
  min-height: 60vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.finalProto .colorScheme .svgOuter {
  padding: 0;
}
.finalProto .colorScheme .svgOuter svg {
  box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
  max-width: 100%;
  height: auto;
}
.finalProto .colorScheme .colorsTextArea h3 {
  margin-bottom: 3rem;
  font-weight: 600;
}
.finalProto .colorScheme .colorsTextArea p {
  margin-bottom: 3rem;
}
.finalProto .subscriptArea {
  padding: 6rem 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.finalProto .subscriptArea .protoTextArea2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.finalProto .subscriptArea .protoTextArea2 h3 {
  font-weight: 600;
}
.finalProto .subscriptArea .protoTextArea2 p {
  text-align: justify;
  text-justify: auto;
}
.finalProto .subscriptArea .protoTextArea2 h3,
.finalProto .subscriptArea .protoTextArea2 p {
  margin-bottom: 3rem;
}
.finalProto .subscriptArea .subsImgContainer {
  padding: 0;
}
.finalProto .subscriptArea .subsImgContainer img {
  max-width: 100%;
  height: auto;
  box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
}
.finalProto .scrollGroupsDemo {
  padding: 5rem 0;
}
.finalProto .scrollGroupsDemo .outer {
  padding: 1rem;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  border-radius: 6px;
}
.finalProto .scrollGroupsDemo .outer .col1 {
  margin-left: 0;
  margin-right: auto;
}
.finalProto .scrollGroupsDemo .outer .col1 h3 {
  margin-bottom: 3rem;
  font-weight: 600;
}
.finalProto .scrollGroupsDemo .outer .col2 {
  margin-left: auto;
  margin-right: 0;
  padding: 0;
}
.finalProto .scrollGroupsDemo .outer .col2 img,
.finalProto .scrollGroupsDemo .outer .col2 video {
  width: 100%;
  height: auto;
  cursor: initial;
  background-color: inherit;
}
.finalProto .imgGradients {
  padding: 6rem 1rem;
  display: flex;
  flex-wrap: wrap;
}
.finalProto .imgGradients h3 {
  margin-bottom: 3rem;
  font-weight: 600;
}
.finalProto .imgGradients .imgGradImgOuter {
  margin-bottom: 3rem;
}
.finalProto .imgGradients .imgGradImgOuter img {
  max-width: 100%;
  height: auto;
}
.finalProto .imgGradients .protoTextArea1 {
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  padding-top: 3rem;
  border-radius: 6px;
  margin: 0 auto 3rem auto;
}
.finalProto .imgGradients .protoTextArea1 p {
  margin-bottom: 3rem;
}
.finalProto .protoScrollOuter {
  padding: 6rem 1rem;
}
.finalProto .protoScrollOuter .resultsHead h2 {
  margin-bottom: 3rem;
}
.finalProto .protoScrollOuter .resultsHead button,
.finalProto .protoScrollOuter .resultsHead a {
  margin-bottom: 3rem;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
}
.finalProto .protoScrollOuter h3 {
  font-weight: 600;
  margin-bottom: 3rem;
}
.finalProto .protoScrollOuter .ScrollInner {
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  border-radius: 6px;
  padding: 3rem 0;
}
.finalProto .protoScrollOuter .ScrollInner .protoScroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 75vh;
  padding-bottom: 2rem;
}
.finalProto .protoScrollOuter .ScrollInner .protoScroll::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  border-radius: 0.6666666667rem;
}
.finalProto .protoScrollOuter .ScrollInner .protoScroll::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 0.6666666667rem;
}
.finalProto .protoScrollOuter .ScrollInner .protoScroll::-webkit-scrollbar-track {
  background: #868686;
  border-radius: 0.6666666667rem;
  box-shadow: 0 2px 5px #000;
  margin: 0 5vw;
}
.finalProto .protoScrollOuter .ScrollInner .protoScroll {
  scrollbar-face-color: #353535;
  scrollbar-track-color: #868686;
}
.finalProto .protoScrollOuter .ScrollInner .protoScroll > div {
  max-height: 100%;
  min-width: 35%;
  max-width: 70%;
  text-align: center;
  margin: 0 3rem;
}
.finalProto .protoScrollOuter .ScrollInner .protoScroll > div:first-child {
  margin-left: 6rem;
}
.finalProto .protoScrollOuter .ScrollInner .protoScroll > div:last-child {
  margin-right: 6rem;
}
.finalProto .protoScrollOuter .ScrollInner .protoScroll > div h4 {
  white-space: nowrap;
  overflow: hidden;
}
.finalProto .protoScrollOuter .ScrollInner .protoScroll > div img {
  max-height: 95%;
  max-width: 100%;
  height: auto;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  margin-bottom: 0;
  margin-top: auto;
}
.finalProto img {
  cursor: pointer;
}