// ============================================================
// ======================== VARIABLES ==========================
$blackOnWhiteColor: rgb(29, 29, 29);

$underlineBorder: 2px solid rgb(0, 14, 143);

$lgAreaShadow: 5px 7px 10px rgba(49, 49, 49, 0.603),
  -2px -2px 5px rgba(58, 58, 58, 0.568);
$smBoxShadow: 0 1px 5px 1px rgb(73, 73, 73);

$fastTransition: 100ms ease-in-out;

$minOuterAreaHeight: 70vh;
$OuterAreaMargin: 3rem auto;

// ============================================================
// ============================ MIXIN =========================
@mixin sectionWhite() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: $minOuterAreaHeight;
  padding: 2rem 2rem;
  margin: $OuterAreaMargin;
  color: $blackOnWhiteColor;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: $lgAreaShadow;
}

@mixin linkExpandedStyle(
  $scale: 1.1,
  $border: 1px solid #49089c,
  $shadow: $smBoxShadow
) {
  transform: $scale;
  color: lighten($color: $blackOnWhiteColor, $amount: 10%);
  box-shadow: $shadow;
  border: $border;
}

@mixin scrollBars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%),
  $border-radius: $size / 1.5
) {
  // Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
    border-radius: $border-radius;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: $border-radius;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: $border-radius;
    box-shadow: 0 2px 5px #000;
    margin: 0 5vw;
  }
  // IE
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

// ============================================================
// ============================================================
html {
  scroll-snap-type: y proximity;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fefefe;
  scroll-snap-type: y proximity;
}
h2 {
  font: normal normal bold 42px/52px Mr Eaves Mod OT;
  margin: 2rem 0;
}
h3 {
  font: normal normal normal 2em/52px Mr Eaves Mod OT;
  margin: 0 1rem;
}
li {
  font: normal normal normal 22px/28px Mr Eaves Mod OT;
  color: #707070;
  margin: 0 calc(1rem + 12px) 0.75em;
}
p {
  font: normal normal normal 20px/28px Mr Eaves Mod OT;
  letter-spacing: 0px;
  margin: 0 calc(1rem + 12px) 0.75em;
  width: 100%;
}

// ============================================================
// ===================== COLOR BG BTN =========================
.navBtns {
  --borderWidth: 3px;
  background: #1d1f20;
  border-radius: var(--borderWidth);
  padding: 0;
  position: fixed;
  bottom: 25px;
  right: 50px;
  z-index: 2;
  box-shadow: 7px 5px 20px 1px rgba(0, 0, 0, 0.7);

  &:after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(
      60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );
    opacity: 100%;
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedGradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }

  div {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(68, 68, 68);
    box-shadow: 1px 3px 2px rgba(68, 68, 68, 0.75);
    margin-bottom: var(--borderWidth);
    padding: 5px;
    border-radius: calc(var(--borderWidth) + var(--borderWidth));

    p {
      margin: 0;
      text-align: center;
      color: #fff;
      font-size: 1em;
      line-height: 1.25em;
    }
    svg {
      fill: #fff;
    }
  }
  hr {
    margin: 5px 0 0;
  }
}

// ============================================================
// ========================= HEADING ==========================
header {
  width: 100vw;
  height: 208px;
  background: url("../media/edZen_imgs/short_background.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    text-align: center;
    font: normal normal bold 61px/67px Mr Eaves Mod OT;
    color: #ffffff;
  }
  .mainHeadBack {
    display: flex;
    align-self: flex-start;
    padding: 0 10px;
    cursor: pointer;
    min-width: fit-content;

    svg {
      fill: #fff;
      min-width: 50px;
      filter: drop-shadow(3px 4px 7px rgba(0, 0, 0, 0.7));
    }
    &:hover {
      svg {
        transform: scale(1.15);
        transition: all 500ms ease-in-out;
      }
    }
  }
}

// ============================================================
// ======================== DIRECTORY =========================
#directory {
  .outerDiv {
    @include sectionWhite();

    h2 {
      // margin: 0;
      align-self: flex-start;
    }
    .bodyLinks {
      min-width: 100%;

      h3 {
        margin-right: 0;
        width: fit-content;
        padding-right: 10px;
        border-bottom: $underlineBorder;
      }
      a {
        text-decoration: none;
        color: inherit;

        .hoverExpand {
          padding: 1rem;
          margin-left: 1rem;
          max-height: calc(2rem + 40px);
          transition: $fastTransition;

          p {
            margin: 0;
            width: max-content;
            border-radius: 7px;
            padding: 0 6px 0 2px;
            transition: $fastTransition;
            font: normal normal normal 22px/40px Mr Eaves Mod OT;
          }
          &:hover {
            max-height: calc(2rem + 40px);
            p {
              @include linkExpandedStyle();
            }
          }
        }
      }
    }
  }
}

// ============================================================
// ============================================================
.imgContainer {
  text-align: center;

  img {
    max-width: 100%;
    padding: 0;
  }
}
.one {
  margin-bottom: 1rem;
}
.two {
  img {
    max-width: 50%;
  }
}

// ============================================================
// ====================== OVERLAYS/MODALS =====================
.staticLgImg {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100%;
  height: 100%;
  background-color: #000000de;
  text-align: center;
  overflow-y: scroll;
  padding: 25px 10%;
  z-index: 90;

  img {
    max-width: 100%;
    height: auto;
  }
  .transparentOverlay {
    position: fixed;
    bottom: 10px;
    right: 25px;
    background-color: rgba(54, 54, 54, 0.623);
    border-radius: 15%;
    overflow: hidden;
    margin: 5px 25px;
    box-shadow: 0px 0px 25px 25px rgba(54, 54, 54, 0.623);

    p {
      color: #ffffff;
      font-size: 1.5em;
      text-decoration: underline 1px solid;
      font-weight: 300;
      margin: 0;
      margin-bottom: 3px;
    }
  }
}

// ============================================================
// ======================= SCROLL GROUPS ======================
.headingWithLink {
  align-items: flex-end;
}

.sectionContainer {
  @include sectionWhite();
  display: block;
  padding-left: 0;
  padding-right: 0;

  h3 {
    margin-bottom: 1.5rem;
  }
}

.scroll-x {
  width: 100%;
  max-height: 75vh;
  min-height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  @include scrollBars(1rem, #545454, #a8a8a8);

  .scrollItemWithHeading {
    min-width: fit-content;
    margin: 0;
    padding: 0 5vw;

    h4 {
      max-height: 10%;
      width: 100%;
      margin-bottom: 1rem;
    }
    img {
      width: auto;
      height: 90%;
      box-shadow: 1px 5px 15px 1px #000000de;
      border-radius: 10px;
    }
  }
}

// ============================================================
// ========================= ANIMATIONS =======================
@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// ============================================================
// ========================== MEDIA ===========================
@media only screen and (max-width: 1200px) {
  #directory ul li {
    line-height: 40px;
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 576px) {
  #directory ul li {
    line-height: 35px;
    margin-bottom: 0;
  }
}
