@import "scss/variables", "scss/mixin";

// ============================================================
// ========================== GENERAL =========================
.edZen {
  h2 {
    font: normal normal bold 42px/52px Mr Eaves Mod OT;
    margin: 0;
    margin-bottom: -2rem;
  }
}
.edZen {
  h3 {
    font: normal normal normal 2em/52px Mr Eaves Mod OT;
    margin: 0;
  }
}
.edZen {
  li {
    font: normal normal normal 20px Mr Eaves Mod OT;
    margin: 0 calc(1rem + 12px) 0.75em;
  }
}
.edZen {
  p {
    font: normal normal normal 20px/28px Mr Eaves Mod OT;
    letter-spacing: 0px;
    margin: 0 calc(1rem + 12px) 0.75em;
    width: 100%;
  }
}

// ============================================================
// ===================== COLOR BG BTN =========================

.navBtns {
  position: fixed;
  bottom: 2rem;
  right: 15px;
  display: flex;
  flex-direction: row;
  background-color: inherit;
  border-radius: 4px;

  div {
    margin: 0 0 0 5px;
    padding: 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-width: 40px;
    box-shadow: 1px 3px 5px rgba(59, 59, 59, 0.75);
    border-radius: 4px;
    @include linkColoredCanExpand(
      $scale: 1.1,
      $bg: #47494b,
      $hovShadow: 1px 3px 7px rgba(95, 95, 95, 0.75)
    );

    p {
      margin: 0;
      text-align: center;
      color: #fff;
      font-size: 1em;
      line-height: 1.25em;
    }
    svg {
      fill: #fff;
    }
  }
  a {
    text-decoration: none;
  }
}

// ============================================================
// ========================= HEADING ==========================
header {
  width: 100vw;
  height: 208px;
  background: url("../media/edZen_imgs/short_background.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    text-align: center;
    font: normal normal bold 61px/67px Mr Eaves Mod OT;
    color: #ffffff;
  }
  .mainHeadBack {
    display: flex;
    align-self: flex-start;
    padding: 0 10px;
    cursor: pointer;
    min-width: fit-content;

    svg {
      fill: #fff;
      min-width: 50px;
      filter: drop-shadow(3px 4px 7px rgba(0, 0, 0, 0.7));
    }
    &:hover {
      svg {
        transform: scale(1.15);
        transition: all 500ms ease-in-out;
      }
    }
  }
}

// ============================================================
// ======================== DIRECTORY =========================
#directory {
  .outerDiv {
    @include lgWhiteBgSec();
    padding-top: 0;
    padding-bottom: 0;

    h2 {
      align-self: flex-start;
      margin: 0;
    }
    .bodyLinks {
      min-width: 100%;

      h3 {
        margin-right: 0;
        margin-bottom: 10px;
        padding-right: 10px;
        width: fit-content;
        border-bottom: $underlineBorder;
      }
      a {
        text-decoration: none;
        color: inherit;

        .hoverExpand {
          padding: 1rem 0;
          margin-left: 1rem;
          max-height: calc(2rem + 40px);

          p {
            margin: 0;
            width: max-content;
            border-radius: 7px;
            font: normal normal normal 22px/40px Mr Eaves Mod OT;
            padding: 0 0.5rem;
            @include linkColoredCanExpand(
              $scale: 1.1,
              $hovShadow: 2px 5px 10px #afafaf
            );
          }
        }
      }
    }
  }
}

// ============================================================
// ====================== TEXT SECTIONS =======================
// .textOuterSection {
//   margin: $OuterAreaMargin;
// }
.textOuterDiv {
  @include coloredBg;

  h3 {
    margin-bottom: 1rem;
  }
}

// ============================================================
// ===================== IMAGE CONTAINER ======================
.scrollSpacing {
  display: block;
  min-height: 1rem;
  visibility: hidden;
}
.spacingAlt {
  min-height: 1rem;
  margin-bottom: -1.5rem;
}

.sectionMargin {
  @include coloredBg;

  h3 {
    margin-bottom: 1.25rem;
    border-bottom: $underlineBorder;
  }
}

// Shared with SCROLL GROUPS elements
.imgContainer {
  text-align: center;
  border-radius: inherit;

  img {
    max-width: 100%;
    padding: 0;
    box-shadow: 0 0 7px rgb(126, 126, 126);
    border-radius: inherit;
    cursor: pointer;
    transition: transform 200ms ease-out;

    &:hover {
      transform: scale(1.04);
    }
  }
}

// ============================================================
// ======================= SCROLL GROUPS ======================
// .headingWithLink {
//   align-items: flex-end;
// }

.sectionContainer {
  @include lgWhiteBgSec();
  padding-left: 0;
  padding-right: 0;
  align-items: initial;
  box-shadow: $lgAreaShadow, inset 0 0 3px black;

  h3 {
    margin: 0 1rem 1.5rem;
    border-bottom: $underlineBorder;
  }
}

.scroll-x {
  max-width: 100%;
  max-height: 75vh;
  min-height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  margin-bottom: 1.5rem;
  @include scrollBars(1rem, #545454, #a8a8a8);

  .scrollItemWithHeading {
    min-width: fit-content;
    margin: 0;
    padding: 0 5vw;

    h4 {
      max-height: 10%;
      width: 100%;
      margin-bottom: 1rem;
    }
    img {
      width: auto;
      height: 80%;
      box-shadow: 1px 5px 15px 1px #000000de;
      border-radius: 10px;
    }
  }
}

// ============================================================
// ====================== OVERLAYS/MODALS =====================

// ============================================================
// ========================= ANIMATIONS =======================
@keyframes glowing {
  50% {
    background-position: 100% 50%;
  }
}

// ============================================================
// ========================== MEDIA ===========================
@media only screen and (max-width: 1200px) {
  #directory ul li {
    line-height: 40px;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 576px) {
  #directory ul li {
    line-height: 35px;
    margin-bottom: 0;
  }
}
