@-webkit-keyframes glowing {
  50% {
    background-position: 100% 50%;
  }
}
@keyframes glowing {
  50% {
    background-position: 100% 50%;
  }
}
@-webkit-keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
@media (max-width: 1200px) {
  .fixedTopBtn {
    right: 10px;
    bottom: 10px;
  }
  .fixedTopBtn p, .fixedTopBtn .SonataBody em, .SonataBody .fixedTopBtn em {
    font-size: 1em;
  }
  .sectionHeading {
    width: 100%;
  }
  .moodBoard .moodTextArea {
    padding: 1rem;
  }
}
@media (max-width: 992px) {
  .fixedTopBtn {
    right: 5px;
    bottom: 7px;
    padding: 5px;
  }
  .fixedTopBtn p, .fixedTopBtn .SonataBody em, .SonataBody .fixedTopBtn em {
    font-size: 1em;
  }
  .eHead4 .container > div p, .eHead4 .container > div .SonataBody em, .SonataBody .eHead4 .container > div em {
    margin: 2rem auto 0;
  }
  .researchSection .businessResearch .textArea1 {
    padding: 0;
  }
  .userResearch .usersHeading,
.userResearch .userTextArea {
    padding: 0;
  }
  .userResearch .hScrollGroup {
    margin: 0;
    max-width: 100%;
  }
  .userResearch .hScrollGroup .innerWrapper::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.3333333333rem;
  }
  .userResearch .hScrollGroup .innerWrapper::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 0.3333333333rem;
  }
  .userResearch .hScrollGroup .innerWrapper::-webkit-scrollbar-track {
    background: #858585;
    border-radius: 0.3333333333rem;
    box-shadow: 0 2px 5px #000;
    margin: 0 5vw;
  }
  .userResearch .hScrollGroup .innerWrapper {
    scrollbar-face-color: #333333;
    scrollbar-track-color: #858585;
  }
  .userResearch .hScrollGroup .innerWrapper img {
    margin: 0.5rem 1.5rem 2rem;
  }
  .competitiveAnalysis .compAnalysisImgArea {
    padding: 0;
  }
  .competitiveAnalysis .compAnalysisImgArea h3 {
    text-align: justify;
    margin-bottom: 2rem;
  }
  .competitiveAnalysis .compAnalysisImgArea img {
    margin: 0;
  }
  .competitiveAnalysis .compAnalysisTextArea {
    margin-top: 2rem;
  }
  .competitiveAnalysis .compAnalysisTextArea h4 {
    margin-bottom: 1.5rem;
  }
  .competitiveAnalysis .compAnalysisTextArea li {
    margin-bottom: 1.5rem;
  }
  .journeyMap h3 {
    text-align: justify;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
  }
  .journeyMap .journeyImgOuter {
    padding: 0.25rem;
  }
  .siteMap .siteMapHead h3 {
    box-shadow: none;
    max-width: 100%;
    padding: 0;
    margin-bottom: 3rem;
  }
  .siteMap .siteMapImgOuter {
    padding: 0;
  }
  .moodBoard .moodTextArea {
    padding: 1rem;
    border-radius: 6px 6px 0 0;
    background-color: #333333;
    box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
    z-index: 1;
  }
  .moodBoard .moodBoardImgCont {
    padding: 0.5rem 3.7% 3.7%;
    border-radius: 0 0 6px 6px;
    margin-top: 0px;
    z-index: 0;
    box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
    background-color: #333333;
  }
  .finalProto .colorScheme {
    padding-left: 0;
    padding-right: 0;
  }
  .finalProto .colorScheme .colorsTextArea {
    padding-left: 2rem;
    padding-right: 0;
  }
  .finalProto .colorScheme .proto3 .protoTextArea1 {
    padding: 0 1rem;
    margin: 2rem auto;
  }
  .finalProto .subscriptArea .subsImgContainer {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .eHead4 .absoluteHomeArrow {
    top: 15px;
    right: 15px;
    left: auto !important;
  }
  .eHead4 .container {
    justify-content: center;
  }
  .eHead4 .container > div svg {
    margin: auto;
  }
  .edZ2Body h3 {
    font-size: 1.75em;
  }
  .edZ2Body h4 {
    font-size: 1.25em;
  }
  .finalProto .colorScheme {
    flex-wrap: wrap-reverse;
  }
  .finalProto .colorScheme .svgOuter {
    padding: 0 1rem;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .finalProto .colorScheme .svgOuter svg {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .finalProto .colorScheme .colorsTextArea {
    padding: 0 1rem;
  }
  .projectsSubsectionRow .card-body {
    padding: 1rem;
  }
  .introSection > div {
    padding: 1rem;
  }
}
@media (max-width: 576px) {
  .fixedTopBtn {
    display: none;
  }
  .eHead4 .container > div {
    padding-left: 0;
    padding-right: 0;
  }
  .sectionTitle {
    margin-left: initial !important;
    margin-right: initial !important;
  }
  .researchSection h2 {
    margin-left: initial;
  }
  .wireframe .wfPre h2 {
    margin-left: initial;
  }
  .competitiveAnalysis .compAnalysisImgArea h3 {
    text-align: start;
  }
  .journeyMap h3 {
    text-align: start;
  }
  .moodBoard .moodTextArea {
    text-align: start;
  }
  .finalProto .imgTextHeading {
    padding-left: 0;
    padding-right: 0;
  }
  .finalProto .imgTextHeading .textButtonOuter h2 {
    margin-left: 0;
  }
  .finalProto .colorScheme .svgOuter svg {
    margin: 5% auto 0;
  }
  .finalProto .subscriptArea .subsImgContainer,
.finalProto .protoTextArea2 {
    padding: 0;
  }
  .finalProto .scrollGroupsDemo div {
    padding: 0;
  }
  .finalProto .imgGradients .protoTextArea1 {
    padding: 3rem 0.5rem 0;
  }
  .finalProto .imgGradients > div {
    padding: 0;
  }
  .finalProto .protoScrollOuter {
    padding: 0;
  }
  .finalProto .protoScrollOuter .resultsHead h2 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .sectionHeading {
    width: 60%;
  }
  .projectsHeadingSection {
    max-width: 45vw;
  }
}
@media (min-width: 992px) {
  footer > .container {
    max-width: 30% !important;
  }
}
@media (min-width: 768px) {
  .linkCol {
    text-align: start !important;
  }
}
.SonataBody {
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.SonataBody p, .SonataBody em {
  font-size: 1.2em;
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 1.25em;
}
.SonataBody img {
  cursor: pointer;
}

.sHead {
  background-color: #333;
  position: relative;
}
.sHead .absoluteHomeArrow {
  position: absolute;
  width: 50px;
  height: auto;
  bottom: 10px;
  left: 10px;
}
.sHead .absoluteHomeArrow svg {
  fill: #ffffff;
  margin: auto 0;
  max-width: 100%;
  height: auto;
}
.sHead .absoluteHomeArrow svg .cls-1 {
  fill: #ffffff;
  stroke: none;
}
.sHead .container {
  display: flex;
  padding: 0;
  min-height: 60vh;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 1rem 2rem;
  font-family: Noto Sans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sHead .container > div {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.sHead .container > div .sLogo {
  width: 200px;
  height: auto;
  color: #ffffff;
}
.sHead .container > div p, .sHead .container > div .SonataBody em, .SonataBody .sHead .container > div em {
  margin: 3rem auto 0;
  color: #fff;
  text-align: start;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
.sHead .container > div a {
  margin: 0;
  margin-top: 3rem;
  color: #b4eaff;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
}
.sHead .container > div img {
  max-width: 100%;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.4392156863), 0px 0px 5px 2px rgba(255, 255, 255, 0.4392156863);
  border-radius: 10px;
}

.introSection {
  display: flex;
  flex-wrap: wrap;
  padding: 6rem 1rem;
}
.introSection .textCol {
  margin: 1rem auto;
  padding: 1rem 3rem 0.5em;
}
.introSection .textCol h3 {
  margin-bottom: 0.5rem;
}
.introSection .textCol p, .introSection .textCol .SonataBody em, .SonataBody .introSection .textCol em {
  margin-bottom: 0.5em;
}
.introSection .btnCol {
  display: inherit;
  justify-content: center;
}
.introSection .btnCol .btn {
  margin: 0 1.5rem;
}

.wireframeSection {
  padding: 6rem 1rem;
  display: flex;
}
.wireframeSection .textContainer1 {
  margin: 0 auto;
}
.wireframeSection .textContainer1 h3,
.wireframeSection .textContainer1 p,
.wireframeSection .textContainer1 .SonataBody em,
.SonataBody .wireframeSection .textContainer1 em {
  margin-bottom: 3rem;
}
.wireframeSection .imgContainer1 {
  margin: 0 auto;
}
.wireframeSection .imgContainer1 img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  border-radius: 6px;
}

.prototypeSection1 {
  padding: 6rem 1rem;
  display: flex;
  flex-wrap: wrap;
}
.prototypeSection1 h3 {
  margin-bottom: 0;
  max-width: 60%;
}
.prototypeSection1 .textContainer2 p, .prototypeSection1 .textContainer2 .SonataBody em, .SonataBody .prototypeSection1 .textContainer2 em {
  margin-bottom: 3rem;
}
.prototypeSection1 .textContainer2 p:first-child, .prototypeSection1 .textContainer2 .SonataBody em:first-child, .SonataBody .prototypeSection1 .textContainer2 em:first-child {
  margin-top: 3rem;
}
.prototypeSection1 .videoContainer {
  padding: 0 1rem;
}
.prototypeSection1 .videoContainer video {
  width: 100%;
  height: auto;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  border-radius: 6px;
}

.prototypeSection2 {
  padding: 6rem 1rem;
  display: flex;
  flex-wrap: wrap;
}
.prototypeSection2 .textHead {
  padding: 0;
  display: flex;
  align-items: center;
}
.prototypeSection2 .textHead h3 {
  line-height: 1.5em;
  margin: 0;
  box-shadow: 5px 7px 10px rgba(49, 49, 49, 0.603), -2px -2px 5px rgba(58, 58, 58, 0.568);
  padding: 1rem;
  border-radius: 6px;
}
.prototypeSection2 .textContainer3 {
  margin-right: 0;
  margin-left: auto;
}
.prototypeSection2 .textContainer3 p, .prototypeSection2 .textContainer3 .SonataBody em, .SonataBody .prototypeSection2 .textContainer3 em {
  margin-bottom: 2rem;
}
.prototypeSection2 .textContainer3 p:last-child, .prototypeSection2 .textContainer3 .SonataBody em:last-child, .SonataBody .prototypeSection2 .textContainer3 em:last-child {
  margin: 0;
}
.prototypeSection2 .imgContainer2 {
  padding: 1rem;
  margin-top: 3rem;
  background-color: #212121;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  display: flex;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
}
.prototypeSection2 .imgContainer2 img {
  width: auto;
  max-height: 30vh;
  margin: auto;
  padding-left: 5px;
}

.prototypeSection3 {
  padding: 6rem 1rem;
  display: flex;
}
.prototypeSection3 > div {
  display: flex;
  align-items: center;
}
.prototypeSection3 .textContainer4 {
  padding: 0 2rem;
}
.prototypeSection3 .textContainer4 h3 {
  line-height: 1.5em;
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.prototypeSection3 .imgContainer3 {
  min-height: 452px;
  padding: 0 2rem;
  background-color: #212121;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  border-radius: 6px;
}
.prototypeSection3 .imgContainer3 img {
  max-width: 100%;
  height: auto;
}

.prototypeSection4 {
  padding: 6rem 1rem;
  display: flex;
}
.prototypeSection4 .textContainer5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2rem;
}
.prototypeSection4 .textContainer5 h3,
.prototypeSection4 .textContainer5 .btn {
  margin-bottom: 3rem;
}
.prototypeSection4 img {
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  max-width: 100%;
  height: auto;
}

.codingSec1 {
  padding: 6rem 1rem;
  display: flex;
  flex-wrap: wrap;
}
.codingSec1 h3,
.codingSec1 p,
.codingSec1 .SonataBody em,
.SonataBody .codingSec1 em {
  margin-bottom: 3rem;
  text-align: justify;
}
.codingSec1 img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  border-radius: 6px;
}
.codingSec1 .btn {
  margin: 0 auto;
}

.codingSec2 {
  padding: 6rem 1rem;
  display: flex;
  flex-wrap: wrap;
}
.codingSec2 > div {
  margin: 0 auto 3rem;
}
.codingSec2 .imageContainer4 {
  margin-bottom: 0;
  padding: 2rem 1rem;
  background-color: #212121;
  border-radius: 6px;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
}
.codingSec2 .imageContainer4 img {
  max-width: 100%;
  height: auto;
}

.codingSec3 {
  padding: 6rem 1rem;
  display: flex;
  flex-wrap: wrap;
}
.codingSec3 .textContainer5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
  border-radius: 6px;
}
.codingSec3 .textContainer5 h3 {
  margin: 2rem 0 3rem;
  text-align: justify;
}
.codingSec3 .textContainer5 .btn {
  margin-bottom: 3rem;
}
.codingSec3 .imgContainer5 {
  padding: 0;
  margin: 0 0 0 auto;
  position: relative;
}
.codingSec3 .imgContainer5 img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
}
.codingSec3 .imgContainer5 .hoverOverlay {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
}
.codingSec3 .imgContainer5 .hoverOverlay h2 {
  display: none;
  color: white;
  margin: auto 0;
  text-align: center;
  width: 100%;
  background-color: rgba(138, 138, 138, 0.3568627451);
  padding: 1rem 0;
}
.codingSec3 .imgContainer5 .hoverOverlay h2 svg {
  stroke: #ffffff;
  margin-left: 1rem;
  margin-top: 10px;
}
.codingSec3 .imgContainer5 .hoverOverlay:hover {
  display: flex;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: inset 0px 0px 25px #ffffff;
}
.codingSec3 .imgContainer5 .hoverOverlay:hover h2 {
  display: initial;
}
.codingSec3 .imgContainer5 .gradientShadow1 {
  position: absolute;
  display: block;
  height: 7%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 6px 6px 0 0;
  background-color: blue;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}
.codingSec3 .imgContainer5 .gradientShadow2 {
  position: absolute;
  display: block;
  height: 7%;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 0 0 6px 6px;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}