@media (min-width: 1200px) {
  .sectionHeading {
    width: 60%;
  }
  .projectsHeadingSection {
    max-width: 45vw;
  }
}

@media (max-width: 1200px) {
  .sectionHeading {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .eHead4 .container > div p {
    margin: 2rem auto 0;
  }

  .userResearch {
    .usersHeading {
      padding: 0 1rem 0.5rem;
    }
    .hScrollGroup {
      padding: 1rem 0 2rem;
      margin: 0.5rem 0;
      max-width: 100%;

      .innerWrapper {
        @include scrollBars(0.5rem, #333333);

        img {
          margin: 0.5rem 1.5rem 2rem;
        }
      }
    }
  }

  .competitiveAnalysis {
    .compAnalysisImgArea {
      h3 {
        text-align: justify;
        margin-bottom: 2rem;
      }
      img {
        margin: 0;
      }
    }
    .compAnalysisTextArea {
      margin-top: 2rem;
      h4 {
        margin-bottom: 1.2rem;
      }
      li {
        margin-bottom: 1rem;
      }
    }
  }

  .journeyMap {
    h3 {
      text-align: justify;
      hyphens: none;
      margin-bottom: 1rem;
    }
    .journeyImgOuter {
      margin-top: 1rem;
      padding: 0.75rem 0.5rem;
    }
  }

  .siteMap .siteMapHead h3 {
    box-shadow: none;
    text-align: justify;
    hyphens: auto;
  }

  .moodBoard {
    .moodTextArea {
      padding: 0.5rem 1rem;
      border-radius: 6px 6px 0 0;
    }
    .moodBoardImgCont {
      padding: 0 3.7% 3.7%;
      border-radius: 0 0 6px 6px;
    }
  }

  .finalProto {
    .colorScheme .colorsTextArea {
      padding-left: 2rem;
      padding-right: 0;
    }
    .proto3 .protoTextArea1 {
      padding: 0 1rem;
      margin: 2rem auto;
    }
  }
}

@media (max-width: 767px) {
  .eHead4 .container {
    justify-content: center;

    > div svg {
      margin: auto;
    }
  }

  .edZ2Body {
    h3 {
      font-size: 1.75em;
    }
    h4 {
      font-size: 1.25em;
    }
  }

  .finalProto {
    .imgTextHeading {
      .textButtonOuter {
        margin: 1rem 0;

        h2 {
          margin-bottom: 1rem;
        }
        button {
          margin-top: 1rem;
        }
      }
      .headImg {
        margin-top: 1rem;
      }
    }

    .colorScheme {
      flex-wrap: wrap-reverse;

      .svgOuter {
        max-height: 60vh;
        padding: 0 1rem;

        svg {
          width: fit-content;
        }
      }
      .colorsTextArea {
        padding: 0 1rem;
      }
    }
  }

  .projectsSubsectionRow .card-body {
    padding: 1rem;
  }
  .introSection > div {
    padding: 1rem;
  }

  .siteMap {
    min-height: auto;

    .siteMapHead h3 {
      padding: initial;
    }
  }

  // .smallerCol2 {
  //   margin-bottom: 1.5rem;
  //   flex-direction: row !important;
  //   flex-wrap: wrap !important;
  //   align-items: baseline !important;

  //   h2 {
  //     margin: 1.5rem 0 !important;
  //   }
  //   svg {
  //     position: absolute !important;
  //     top: 0 !important;
  //     left: 0 !important;
  //     width: 100% !important;
  //     height: 100% !important;
  //     z-index: 0 !important;
  //     filter: blur(3px);
  //     fill: lighten($color: #000000, $amount: 87%);
  //   }
  // }
}

@media (max-width: 576px) {
  .eHead4 .container > div {
    padding-left: 0;
    padding-right: 0;
  }

  .sectionTitle {
    margin-left: initial !important;
    margin-right: initial !important;
  }

  .competitiveAnalysis .compAnalysisImgArea h3 {
    text-align: start;
  }

  .journeyMap h3 {
    text-align: start;
  }

  .siteMap {
    .siteMapImgOuter {
      padding: 0 0.25rem;
    }
    .siteMapHead h3 {
      text-align: initial;
      hyphens: initial;
    }
  }

  .moodBoard .moodTextArea {
    text-align: start;
  }

  .finalProto {
    .colorScheme .svgOuter svg {
      margin: 5% auto 0;
    }
    .scrollGroupsDemo div {
      padding: 0;
    }
  }
}

@media (min-width: 992px) {
  footer > .container {
    max-width: 30% !important;
  }
}

@media (min-width: 768px) {
  .linkCol {
    text-align: start !important;
  }
}
