@media (max-width: 1200px) {
  .fixedTopBtn {
    right: 10px;
    bottom: 10px;

    p {
      font-size: 1em;
    }
  }

  .sectionHeading {
    width: 100%;
  }

  .moodBoard .moodTextArea {
    padding: 1rem;
  }
}

@media (max-width: 992px) {
  .fixedTopBtn {
    right: 5px;
    bottom: 7px;
    padding: 5px;

    p {
      font-size: 1em;
    }
  }

  .eHead4 .container > div p {
    margin: 2rem auto 0;
  }

  .researchSection .businessResearch .textArea1 {
    padding: 0;
  }

  .userResearch {
    .usersHeading,
    .userTextArea {
      padding: 0;
    }
    .hScrollGroup {
      margin: 0;
      max-width: 100%;

      .innerWrapper {
        @include scrollBars(0.5rem, #333333);

        img {
          margin: 0.5rem 1.5rem 2rem;
        }
      }
    }
  }

  .competitiveAnalysis {
    .compAnalysisImgArea {
      padding: 0;

      h3 {
        text-align: justify;
        margin-bottom: 2rem;
      }
      img {
        margin: 0;
      }
    }
    .compAnalysisTextArea {
      margin-top: 2rem;

      h4 {
        margin-bottom: 1.5rem;
      }
      li {
        margin-bottom: 1.5rem;
      }
    }
  }

  .journeyMap {
    h3 {
      text-align: justify;
      hyphens: none;
    }
    .journeyImgOuter {
      padding: 0.25rem;
    }
  }

  .siteMap {
    .siteMapHead h3 {
      box-shadow: none;
      max-width: 100%;
      padding: 0;
      margin-bottom: 3rem;
    }
    .siteMapImgOuter {
      padding: 0;
    }
  }

  .moodBoard {
    .moodTextArea {
      padding: 1rem;
      border-radius: 6px 6px 0 0;
      background-color: #333333;
      box-shadow: $lgAreaShadow;
      z-index: 1;
    }
    .moodBoardImgCont {
      padding: 0.5rem 3.7% 3.7%;
      border-radius: 0 0 6px 6px;
      margin-top: 0px;
      z-index: 0;
      box-shadow: $lgAreaShadow;
      background-color: #333333;
    }
  }

  .finalProto {
    .colorScheme {
      padding-left: 0;
      padding-right: 0;

      .colorsTextArea {
        padding-left: 2rem;
        padding-right: 0;
      }
      .proto3 .protoTextArea1 {
        padding: 0 1rem;
        margin: 2rem auto;
      }
    }
    .subscriptArea .subsImgContainer {
      padding: 0 1rem;
    }
  }
}

@media (max-width: 767px) {
  .eHead4 {
    .absoluteHomeArrow {
      top: 15%;
    }
    .container {
      justify-content: center;

      > div svg {
        margin: auto;
      }
    }
  }

  .edZ2Body {
    h3 {
      font-size: 1.75em;
    }
    h4 {
      font-size: 1.25em;
    }
  }

  .finalProto {
    .colorScheme {
      flex-wrap: wrap-reverse;

      .svgOuter {
        padding: 0 1rem;
        max-width: fit-content;

        svg {
          width: fit-content;
        }
      }
      .colorsTextArea {
        padding: 0 1rem;
      }
    }
  }

  .projectsSubsectionRow .card-body {
    padding: 1rem;
  }

  .introSection > div {
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  .fixedTopBtn {
    display: none;
  }

  .eHead4 {
    .absoluteHomeArrow {
      top: 0.25rem;
      right: 0;
    }
    .container > div {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .sectionTitle {
    margin-left: initial !important;
    margin-right: initial !important;
  }

  .researchSection h2 {
    margin-left: initial;
  }

  .wireframe .wfPre h2 {
    margin-left: initial;
  }

  .competitiveAnalysis .compAnalysisImgArea h3 {
    text-align: start;
  }

  .journeyMap h3 {
    text-align: start;
  }

  .moodBoard .moodTextArea {
    text-align: start;
  }

  .finalProto {
    .imgTextHeading {
      padding-left: 0;
      padding-right: 0;

      .textButtonOuter h2 {
        margin-left: 0;
      }
    }

    .colorScheme .svgOuter svg {
      margin: 5% auto 0;
    }

    .subscriptArea .subsImgContainer,
    .protoTextArea2 {
      padding: 0;
    }

    .scrollGroupsDemo div {
      padding: 0;
    }

    .imgGradients {
      .protoTextArea1 {
        padding: 3rem 0.5rem 0;
      }
      > div {
        padding: 0;
      }
    }

    .protoScrollOuter {
      padding: 0;

      .resultsHead h2 {
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  .sectionHeading {
    width: 60%;
  }

  .projectsHeadingSection {
    max-width: 45vw;
  }
}

@media (min-width: 992px) {
  footer > .container {
    max-width: 30% !important;
  }
}

@media (min-width: 768px) {
  .linkCol {
    text-align: start !important;
  }
}
