// =============================================================
// ======================== VARIABLES ==========================
$blackOnWhiteColor: rgb(29, 29, 29);
$underlineBorder: 2px solid rgb(0, 14, 143);

$lgAreaShadow: 5px 7px 10px rgba(49, 49, 49, 0.603),
  -2px -2px 5px rgba(58, 58, 58, 0.568);
$smBoxShadow: 0 1px 5px 1px rgb(73, 73, 73);
$smBoxShadowWhite: 0px 0px 5px 2px #ffffff70;

$colorGradient: linear-gradient(
  60deg,
  hsl(224, 85%, 66%),
  hsl(269, 85%, 66%),
  hsl(314, 85%, 66%),
  hsl(359, 85%, 66%),
  hsl(44, 85%, 66%),
  hsl(89, 85%, 66%),
  hsl(134, 85%, 66%),
  hsl(179, 85%, 66%)
);

$fastTransition: 100ms ease-in-out;
$slowTransition: 500ms ease-in;
$minOuterAreaHeight: 60vh;
$OuterAreaMargin: 3rem auto;

$headingLetterSpacing: 1.25rem;

$sectionHeight: 60vh;
$sectionTopMargin: 15vh;

$sectionTopMargin2: 6rem;
$sectionPadding: 6rem 1rem;
